.logs{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    justify-content: flex-start;

    border-radius: $border-radius;

    // width: fit-content;
    width: 100%;
    // padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);

    font-size: map-get($map: $font-size, $key: sm);
    text-align: center;

    filter: opacity(.5);
    transition: $transition-base;

    &__heading{
        font-weight: $font-weight-bold;

        color: $secondary;
        transition: $transition-base;
    }
    &__intro{
        color: $secondary;
        transition: $transition-base;
    }

    &:hover{
        text-decoration: none;
        filter: opacity(1);
        // background-color: $black-60;

        // .logs__heading{
        //     color: $white;
        // }
        // .logs__intro{
        //     filter: opacity(1);
        // }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .logs{
        justify-content: flex-end;
    
        text-align: right;

        width: fit-content;
        margin-left: auto;

        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
    }
}