$black-100            : #12111d;
$black-80             : #1F1E2D;
$black-60             : #2a2a3d;
$black-40             : #2e2e45;

$overflow             : rgba(20,18,29,0.7);

$white                : #ffffff;
$black                : $black-100;

$secondary            : #D9D2F8;
$secondary-dark       : #323250;

$primary-text         : #6296F1;
$primary-normal       : #4573D2;
$primary-hover        : #5688E5;
$primary-active       : #4573D2;

$green-text           : #66A88B;
$green-normal         : #599A82;
$green-hover          : #69A690;
$green-active         : #4B8A73;

$red-text             : #E26D7E;
$red-normal           : #D1395A;
$red-hover            : #f35b71;
$red-active           : #B12D4B;

$yellow-normal        : #F1BD6C;

$shadow-dark          : 4px 4px 10px #1F1C29;
$border-radius        : 4px;

$sidebar-width        : 280px;

$link-color           : $white !default;
$link-hover-color     : $primary-normal !default;
$link-decoration      : none !default;
$link-hover-decoration: underline !default;

$input-color          : $white;
$input-placeholder    : $secondary;
$input-border         : $black-100;
$input-background     : $black-100;

$transition-base      : 0.3s;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$font-weight-light    : 300;
$font-weight          : 400;
$font-weight-bolder   : 500;
$font-weight-bold     : 600;

$font-family-heading  : "Poppins", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,   "Liberation Mono",   "Courier New",    monospace !default;

$line-height-smaller  : 1.4;
$line-height          : 1.6;
$line-height-heading  : 1.2;

$font-family-base     : "Poppins", "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base       : 1rem;
$line-height-base     : $line-height;
$font-weight-base     : $font-weight-bolder;

$font-size: (
  xs: 10px,
  sm: 12px,
  md: 14px,
  lg: 16px
) !default;

$heading: (
  h1: 36px,
  h2: 32px,
  h3: 28px,
  h4: 24px,
  h5: 20px,
  h6: 17px,
) !default;

$spacer : 24px!default;
$spacers: ()  !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: 6px,
    2: 12px,
    3: 24px,
    4: 36px,
    5: 48px
  ),
  $spacers
);

$headings-margin-bottom   : 0;
$paragraph-margin-bottom  : 0;
$label-margin-bottom      : 0;

$table-cell-padding       : map-get($map: $spacers, $key: 1);

$enable-grid-classes              : true !default;
$enable-pointer-cursor-for-buttons: true !default;