.modal{
    &__close{
        width: 20px;
        fill: $secondary;

        cursor: pointer;
        transition: $transition-base;

        &:hover{
            fill: $white;
        }
    }
    &__confirmation{
        display: grid;
        grid-gap: map-get($map: $spacers, $key: 2);
        grid-template-columns: 1fr 1fr;
    }
}

.modal-header{
    border-color: $black-100;
}
.modal-content{
    background-color: $black-80;
}
.modal-title{
    text-transform: uppercase;
}

.modal-body{
    overflow: hidden;
    
    &_w-link{
        padding: 0;
    }

    &__link{
        display: block;
        padding: 1rem;
        border-bottom: 1px solid $black-100;

        text-align: center;

        &[data-type=primary]{
            color: $primary-dark-100;

            &:hover{
                color: $primary-dark-60;
            }
        }
        &[data-type=danger]{
            color: $red-dark-100;

            &:hover{
                color: $red-dark-60;
            }
        }
        &[data-type=secondary]{
            color: $secondary;

            &:hover{
                color: $white;
            }
        }

        &:hover{
            text-decoration: none;
            background-color: $black-60;
        }
    }
}