.modal{
    &__close{
        width: 20px;
        fill: $secondary;

        cursor: pointer;
        transition: $transition-base;

        &:hover{
            fill: $white;
        }
    }
}

.modal-header{
    border-color: $black-100;
}
.modal-content{
    background-color: $black-80;
}