.structure_child-has-children{
    // padding-left: 32px;
    position: relative;
    
    &::after{
        content: '';
        display: block;
        width: 54px;
        height: 1px;

        background-color: $black-40;

        position: absolute;
        left: -48px;
        top: 20px;
    }
}