.sidebar-action{
    fill: $secondary;
    stroke: $secondary;
    background-color: $black-60;

    border-radius: $border-radius;
    width: 44px;
    height: 44px;
    padding: map-get($map: $spacers, $key: 2);

    display: flex;
    align-items: center;
    justify-content: center;
    
    // position: fixed;
    // left: 260px;
    // top: 24px;

    // transform: translateX(36px);
    z-index: 111;

    cursor: pointer;
    transition: background-color $transition-base;

    &:hover{
        fill: $white;
        stroke: $white;
        box-shadow: $shadow-dark;
        background-color: $black-40;
    }
    
    path{
        transform: rotate(0deg) translateX(-1px);
        transform-origin: center;
    }

    &--small{
        left: 14px;
        transform: translateX(0px);

        path{
            transform: rotate(180deg) translateX(-1px);
            transform-origin: center;
        }
    }
}