.status_minimal{
    display: inline-flex;
    align-items: center;
    color: $secondary;

    &:before{
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;

        margin-right: map-get($map: $spacers, $key: 1);
    }
    
    &[data-type=true]{
        &:before{
            background-color: $green-normal;
        }
    }
    &[data-type=warning]{
        &:before{
            background-color: $yellow-normal;
        }
    }
    &[data-type=false]{
        &:before{
            background-color: $red-normal;
        }
    }
    &[data-type=default]{
        &:before{
            background-color: $white;
        }
    }
    &[data-type=custom]{
        &:before{
            background-color: var(--custom-color-var);
        }
    }
}