// Select2
.select2-container.select2-container--default{
    display: flex;
    justify-content: flex-start;

    .selection{
        width: inherit;
    }
    // Single
    .select2-selection--single{
        background-color: $black-100;
        border: 1px solid $black-60;
        border-radius: $border-radius;

        min-width: 240px;
        // width: 100%;
        height: 44px;

        // display: inline-block;
        position: relative;

        .select2-selection__rendered {
            color: $white;
            line-height: 43px;
            // line-height: 44px;
            
            padding-left: 12px;
            padding-right: 30px;
        }
        .select2-selection__placeholder {
            color: $white;
        }
        .select2-selection__arrow {
            height: 42px;
            position: absolute;
            top: 1px;
            right: 6px;
            width: 20px;

            b {
                display: block;
                width: 100%;
                height: 100%;

                background: url("../icon/select-arrow.svg") no-repeat center / 12px;

                border: unset;
                position: unset;
                margin: 0;
            }
        }
    }
    // Multiple
    .select2-selection--multiple {
        background-color: $black-100;
        border: 1px solid $black-60;
        border-radius: $border-radius;

        min-width: 240px;
        // width: 100%;
        min-height: 44px;
        padding: 6px 0px 0px;

        // display: inline-block;
        display: flex;
        align-items: center;

        position: relative;

        .select2-selection__rendered {
            display: inline-flex;
            flex-wrap: wrap;
            padding-left: 12px;
            margin: 0;
        }
        .select2-selection__choice{
            background-color: $black-60;
            border: none;
            border-radius: 40px;

            margin: 0 6px 6px 0;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-right: 8px;
            padding-left: 24px;

            &__remove{
                border: none;
                background: $black-40;
                color: $white;
                width: 20px;
                height: 100%;

                &:hover{
                    color: $primary-dark-100;
                }
            }
        }
    }
}
// Select2 Search
.select2-container.select2-container--default .select2-search--inline{
    .select2-search__field{
        font-family: $font-family-base;
        font-size: map-get($font-size, 'md');
        font-weight: $font-weight-base;

        color: $white;
        margin: 0;
        padding: 0;

        line-height: 18px;
        height: 20px;

        &::placeholder{
            font-family: $font-family-base;
            font-size: map-get($font-size, 'md');
            font-weight: $font-weight-base;

            color: $secondary;
        }
    }
}
// Select2 Open
.select2-container.select2-container--default.select2-container--open{
    .select2-selection--single{
        .select2-selection__arrow{
            b {
                filter: opacity(.5);
                // transform: rotate(180deg);
            }
        }
    }
    .select2-dropdown{
        border-radius: $border-radius;
        background-color: $black-60;
        border-color: $black-100;
        
        min-width: 240px;
    }
}
// Select2 Open Position
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
    border-color: $black-60;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-color: $black-60;
}

// Select2 Dropdown
.select2-container--default .select2-search.select2-search--dropdown{
    .select2-search__field{
        background-color: $black-40;
        color: $white;
        border: unset;
        border-radius: $border-radius;

        &:focus{
            outline: unset;
        }

        &::placeholder{
            color: $input-placeholder;
        }
    }
}
.select2-container--default .select2-results {
    padding: map-get($map: $spacers, $key: 1) 0;

    .select2-results__option {
        white-space: nowrap;
        
        padding-left: map-get($map: $spacers, $key: 2);
        padding-right: map-get($map: $spacers, $key: 2);

        &--disabled{
            color: $white;
            opacity: .3;
            cursor: not-allowed;
        }
        &--selectable{
            &.select2-results__option--highlighted{
                background-color: $primary-dark-100;
                color: $black-100;
            }
        }
        &--selected {
            background-color: $black-100;
            color: $secondary;

            &.select2-results__option--highlighted{
                background-color: $black-100;
                color: $secondary;
            }
        }
    }
}