.btn-success {
    color: $black-100;
    background-color: $green-normal;
    border-color: $green-normal;

    &__icon{
        fill: $black-100;
    }

    &:hover{
        color: $black-100;
        background-color: $green-hover;
        border-color: $green-hover;

        box-shadow: $shadow-dark;

        text-decoration: $link-decoration;
    }
    &:focus{
        color: $black-100;
        background-color: $green-active;
        border-color: $green-active;
    }
}