.btn-link {
    color: $primary-normal;
    text-decoration: none;

    &__icon{
        fill: $primary-normal;
    }

    &:hover{
        color: $primary-hover;
        text-decoration: none;

        .btn-link__icon{
            fill: $primary-hover;
        }
    }
    &:focus{
        color: $primary-active;
        text-decoration: none;
        outline: none;
        box-shadow: none;

        .btn-link__icon{
            fill: $primary-active;
        }
    }
}