.btn-success {
    color: $black-100;
    background-color: $green-dark-100;
    border-color: $green-dark-100;

    display: inline-flex;
    align-items: center;

    &__icon{
        fill: $black-100;
    }

    &:hover{
        color: $black-100;
        background-color: $green-dark-80;
        border-color: $green-dark-80;

        box-shadow: $shadow-dark;

        text-decoration: $link-decoration;
    }
    &:focus{
        color: $black-100;
        background-color: $green-dark-60;
        border-color: $green-dark-60;
    }
}