.btn{
    font-weight: $font-weight-bold;
    line-height: $line-height-smaller;
    white-space: nowrap;

    padding: 12px 18px;
    border-radius: $border-radius;

    transition: $transition-base;

    &__icon{
        margin-left: map-get($map: $spacers, $key: 1);
        transition: $transition-base;

        &_success{
            fill: $green-dark-100;
        }
        &_warning{
            fill: $yellow-dark-100;
        }
        &_failed{
            fill: $red-dark-100;
        }
    }
    &__loading-animation{
        display: inline-block;
        background: url("../icon/loading.svg") no-repeat center / contain;
        margin-left: map-get($map: $spacers, $key: 1);

        &--small{
            width: 14px;
            height: 14px;
            background-size: 24px;
        }
    }

    &--full{
        width: 100%;
    }
    &--small{
        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bolder;
        line-height: map-get($map: $font-size, $key: md);
        
        padding: 6px 12px;
    }
}