.btn-danger {
    color: $white;
    background-color: $red-dark-100;
    border-color: $red-dark-100;

    &__icon{
        fill: $white;
    }

    &:hover{
        color: $white;
        background-color: $red-dark-80;
        border-color: $red-dark-80;

        box-shadow: $shadow-dark;

        text-decoration: $link-decoration;
    }
    &:focus{
        color: $white;
        background-color: $red-dark-60;
        border-color: $red-dark-60;
    }
}