.btn-danger {
    color: rgba($white, 0.85);
    background-color: $red-normal;
    border-color: $red-normal;

    &__icon{
        fill: $white;
    }

    &:hover{
        color: $white;
        background-color: $red-hover;
        border-color: $red-hover;

        box-shadow: $shadow-dark;

        text-decoration: $link-decoration;
    }
    &:focus{
        color: $white;
        background-color: $red-active;
        border-color: $red-active;
    }
}