.btn{
    font-weight: $font-weight-bold;
    line-height: $line-height-smaller;
    white-space: nowrap;

    padding: 12px 18px;
    border-radius: $border-radius;

    transition: $transition-base;

    &__icon{
        margin-left: map-get($map: $spacers, $key: 1);
        transition: $transition-base;
    }

    &--full{
        width: 100%;
    }
    &--small{
        font-size: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bolder;
        line-height: 1;
        
        padding: 6px 12px;
    }
}