.btn-primary {
    color: $white;
    background-color: $primary-normal;
    border-color: $primary-normal;

    &__icon{
        fill: $white;
    }

    &:hover{
        color: $white;
        background-color: $primary-hover;
        border-color: $primary-hover;

        box-shadow: $shadow-dark;

        text-decoration: $link-decoration;
    }
    &:focus{
        color: $white;
        background-color: $primary-active;
        border-color: $primary-active;
    }
}