.btn{
    font-weight: $font-weight-bold;
    line-height: $line-height-smaller;
    white-space: nowrap;

    padding: 12px 18px;
    border-radius: $border-radius;

    transition: $transition-base;

    &__icon{
        margin-left: map-get($map: $spacers, $key: 1);
        transition: $transition-base;
    }

    &--full{
        width: 100%;
    }
}