.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    font-size: map-get($map: $font-size, $key: sm);

    &__open{
        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
        border-radius: 16px;
        background-color: $black-60;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        margin-top: map-get($map: $spacers, $key: 1);
        margin-bottom: map-get($map: $spacers, $key: 1);

        transition: $transition-base;
        cursor: pointer;

        &:hover{
            background-color: $black-40;
            box-shadow: $shadow-dark;
        }

        &_has-count{
            margin-right: map-get($map: $spacers, $key: 2);
        }
    }
    &__open-icon{
        fill: $secondary;
        transition: $transition-base;
    }
    &__open-count{
        border-radius: 50%;
        background-color: $primary-normal;
        color: $black-100;

        width: 18px;
        flex: 0 0 18px;
        height: 18px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 10px;
        font-weight: $font-weight-bold;

        margin-left: map-get($map: $spacers, $key: 1);
    }

    &__item{
        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
        border-radius: 16px;
        background-color: $black-60;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        margin-right: map-get($map: $spacers, $key: 2);
        margin-top: map-get($map: $spacers, $key: 1);
        margin-bottom: map-get($map: $spacers, $key: 1);

        &-name{
            margin-right: map-get($map: $spacers, $key: 1);
        }
        &-value{
            margin-right: map-get($map: $spacers, $key: 1);
        }
        &-close{
            fill: $white;

            transition: $transition-base;
            cursor: pointer;

            &:hover, &:focus{
                fill: $secondary;
            }
        }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .filters{
        font-size: map-get($map: $font-size, $key: md);
    }
}