.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    font-size: map-get($map: $font-size, $key: sm);

    &__open{
        padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
        border-radius: 16px;
        background-color: $black-60;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        margin-top: map-get($map: $spacers, $key: 1);
        margin-bottom: map-get($map: $spacers, $key: 1);

        transition: $transition-base;
        cursor: pointer;

        &:hover{
            background-color: $black-40;
            box-shadow: $shadow-dark;
        }

        &_has-count{
            margin-right: map-get($map: $spacers, $key: 2);
        }
    }
    &__open-icon{
        fill: $secondary;
        transition: $transition-base;
    }
    &__open-count{
        background-color: $primary-normal;
        color: $white;

        width: auto;
        // flex: 0 0 20px;
        // height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: map-get($map: $font-size, $key: sm);
        line-height: map-get($map: $font-size, $key: sm);
        font-weight: $font-weight-bold;
        
        padding: 4px 6px 3px;
        margin-left: map-get($map: $spacers, $key: 1);
        border-radius: $border-radius;
    }

    &__item{
        // padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
        border-radius: 16px;
        background-color: $black-60;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        margin-right: map-get($map: $spacers, $key: 2);
        margin-top: map-get($map: $spacers, $key: 1);
        margin-bottom: map-get($map: $spacers, $key: 1);

        &-name{
            color: $secondary;
            
            padding-top: map-get($map: $spacers, $key: 1);
            padding-bottom: map-get($map: $spacers, $key: 1);
            padding-left: map-get($map: $spacers, $key: 2);
            padding-right: map-get($map: $spacers, $key: 0);
        }
        &-value{
            padding: map-get($map: $spacers, $key: 1);
        }
        &-close{
            padding: map-get($map: $spacers, $key: 1);
            padding-right: map-get($map: $spacers, $key: 2);

            transition: $transition-base;
            cursor: pointer;

            &:hover, &:focus{
                background-color: $black-40;
                // filter: opacity(.5);
            }
        }
        &-close-icon{
            fill: $white;
        }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .filters{
        font-size: map-get($map: $font-size, $key: md);
    }
}