.form{
    margin-bottom: 0;
    
    &__label{
        margin-bottom: map-get($map: $spacers, $key: 2);
        line-height: $line-height-smaller;

        &_secondary{
            color: $secondary;
        }
    }
    &__group{
        position: relative;
        margin-top: map-get($map: $spacers, $key: 3);
    }
    &__additional{
        margin-top: map-get($map: $spacers, $key: 3);
    }
    &__addinional-link{
        color: $secondary;
        position: absolute;
        top: 0;
        right: 0;
    }
}