.alert{
    font-size: map-get($map: $font-size, $key: md);
    border-left-width: 4px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;

    &-primary{
        border-color: $primary-active;
        background-color: rgba($primary-normal, 0.25);
        color: rgba($secondary, 0.75);
    }
    &-secondary{
        border-color: $secondary;
        background-color: rgba($secondary, 0.05);
        color: $secondary;
    }
    &-success{
        border-color: $green-normal;
        background-color: rgba($green-normal, 0.05);
        color: $green-normal;
    }
    &-danger{
        border-color: $red-normal;
        background-color: rgba($red-normal, 0.25);
        color: rgba($secondary, 0.75);
    }
    &-warning{
        border-color: $yellow-normal;
        background-color: rgba($yellow-normal, 0.05);
        color: $yellow-normal;
    }
    &-light{
        border-color: $white;
        background-color: rgba($white, 0.05);
        color: $white;
    }
    &-dark{
        border-color: $secondary-dark;
        background-color: rgba($secondary-dark, 0.5);
        color: $secondary;
    }
}