[data-theme="dark"]{
    background-color: $black-100;
    color: $white;

    a {
        color: $white;
      
        &:hover {
            color: $primary-dark-100;
        }
      }

    .intro{
        color: $secondary-dark;
    }
}