.tooltip{
    &.true{
        .tooltip-inner{
            background-color: $green-normal;
            color: $black-100;
        }
    }
    &.false{
        .tooltip-inner{
            background-color: $red-normal;
            color: $white;
        }
    }
    &.warning{
        .tooltip-inner{
            background-color: $yellow-normal;
            color: $black-100;
        }
    }
}