.btn {
  font-weight: 600;
  line-height: 1.4;
  white-space: nowrap;
  padding: 12px 18px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn__icon {
  margin-left: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn--full {
  width: 100%;
}

.btn-primary {
  color: #14121D;
  background-color: #00FFFF;
  border-color: #00FFFF;
}

.btn-primary__icon {
  fill: #14121D;
}

.btn-primary:hover {
  color: #14121D;
  background-color: #99FFFF;
  border-color: #99FFFF;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
  text-decoration: none;
}

.btn-primary:focus {
  color: #14121D;
  background-color: #CBFFFF;
  border-color: #CBFFFF;
}

.btn-link {
  color: #00FFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-link__icon {
  fill: #00FFFF;
}

.btn-link:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-link:hover .btn-link__icon {
  fill: #ffffff;
}

.btn-link:focus {
  color: #CBCEFF;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link:focus .btn-link__icon {
  fill: #CBCEFF;
}

.btn-secondary {
  color: #ffffff;
  background-color: #2F2A3D;
  border-color: #2F2A3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-secondary__icon {
  fill: #ffffff;
}

.btn-secondary:hover {
  color: #CBCEFF;
  background-color: #403A51;
  border-color: #403A51;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
  text-decoration: none;
}

.btn-secondary:hover .btn-secondary__icon {
  fill: #CBCEFF;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus {
  color: #CBCEFF;
  background-color: #2F2A3D;
  border-color: #2F2A3D;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-secondary:active .btn-link__icon, .btn-secondary:focus .btn-link__icon, .btn-secondary:active:focus .btn-link__icon {
  fill: #CBCEFF;
}

.btn-success {
  color: #14121D;
  background-color: #ADFC04;
  border-color: #ADFC04;
}

.btn-success:hover {
  color: #14121D;
  background-color: #C6FF4D;
  border-color: #C6FF4D;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
  text-decoration: none;
}

.btn-success:focus {
  color: #14121D;
  background-color: #D6FF7E;
  border-color: #D6FF7E;
}

.btn-danger {
  color: #ffffff;
  background-color: #F25634;
  border-color: #F25634;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #FF6B4B;
  border-color: #FF6B4B;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
  text-decoration: none;
}

.btn-danger:focus {
  color: #ffffff;
  background-color: #ff8a6f;
  border-color: #ff8a6f;
}

.input {
  line-height: 1.4;
  padding: 12px 18px;
  border-radius: 4px;
  border: 1px solid #14121D;
  background-color: #14121D;
  color: #ffffff;
}

.input--full {
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: #CBCEFF;
}

.input::-moz-placeholder {
  color: #CBCEFF;
}

.input:-ms-input-placeholder {
  color: #CBCEFF;
}

.input::-ms-input-placeholder {
  color: #CBCEFF;
}

.input::placeholder {
  color: #CBCEFF;
}

.input:focus {
  outline: 1px solid #2F2A3D;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

.input:focus::-moz-placeholder {
  opacity: 0.2;
}

.input:focus:-ms-input-placeholder {
  opacity: 0.2;
}

.input:focus::-ms-input-placeholder {
  opacity: 0.2;
}

.input:focus::placeholder {
  opacity: 0.2;
}

.input_datetime::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
  filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

.input_success {
  border: 1px solid #ADFC04;
  color: #ADFC04;
}

.input_success:focus {
  outline-color: #ADFC04;
}

.input_error {
  border: 1px solid #F25634;
  color: #F25634;
}

.input_error:focus {
  outline-color: #F25634;
}

.checkbox {
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__input + .checkbox__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox__input + .checkbox__label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background: inherit;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.checkbox__input:hover + .checkbox__label:before {
  border-color: #00FFFF;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: #00FFFF;
  border-color: #00FFFF;
}

.checkbox__label-inside {
  margin-left: 12px;
}

.radio {
  cursor: pointer;
}

.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio__input + .radio__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio__input + .radio__label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: inherit;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.radio__input:hover + .radio__label:before {
  border-color: #00FFFF;
}

.radio__input:checked + .radio__label:before {
  background-color: #00FFFF;
  border-color: #00FFFF;
}

.radio__label-inside {
  margin-left: 12px;
}

.select2-container.select2-container--default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.select2-container.select2-container--default .selection {
  width: inherit;
}

.select2-container.select2-container--default .select2-selection--single {
  background-color: #14121D;
  border: 1px solid #14121D;
  border-radius: 4px;
  min-width: 240px;
  height: 44px;
  position: relative;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #ffffff;
  line-height: 43px;
  padding-left: 12px;
  padding-right: 30px;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #ffffff;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 42px;
  position: absolute;
  top: 1px;
  right: 6px;
  width: 20px;
}

.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../icon/select-arrow.svg") no-repeat center/12px;
  border: unset;
  position: unset;
  margin: 0;
}

.select2-container.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.select2-container.select2-container--default.select2-container--open .select2-dropdown {
  border-radius: 4px;
  background-color: #2F2A3D;
  border-color: #14121D;
  min-width: 240px;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  border-color: #2F2A3D;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-color: #2F2A3D;
}

.select2-container--default .select2-search .select2-search__field {
  background-color: #403A51;
  color: #ffffff;
  border: unset;
  border-radius: 4px;
}

.select2-container--default .select2-search .select2-search__field:focus {
  outline: unset;
}

.select2-container--default .select2-search .select2-search__field::-webkit-input-placeholder {
  color: #CBCEFF;
}

.select2-container--default .select2-search .select2-search__field::-moz-placeholder {
  color: #CBCEFF;
}

.select2-container--default .select2-search .select2-search__field:-ms-input-placeholder {
  color: #CBCEFF;
}

.select2-container--default .select2-search .select2-search__field::-ms-input-placeholder {
  color: #CBCEFF;
}

.select2-container--default .select2-search .select2-search__field::placeholder {
  color: #CBCEFF;
}

.select2-container--default .select2-results {
  padding: 6px 0;
}

.select2-container--default .select2-results .select2-results__option {
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

.select2-container--default .select2-results .select2-results__option--disabled {
  color: #403A51;
}

.select2-container--default .select2-results .select2-results__option--selectable.select2-results__option--highlighted {
  color: #ffffff;
  background-color: #403A51;
}

.select2-container--default .select2-results .select2-results__option--selected {
  background-color: #14121D;
  color: #ffffff;
}

.select2-container--default .select2-results .select2-results__option--selected.select2-results__option--highlighted {
  background-color: #14121D;
  color: #ffffff;
}

.table .table__item_body .select2-container {
  min-width: 100%;
}

.select2-container.select2-container--table {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.select2-container.select2-container--table .select2-selection--single {
  background-color: #2F2A3D;
  border: 1px solid #2F2A3D;
  border-radius: 14px;
  display: inline-block;
  position: relative;
}

.select2-container.select2-container--table .select2-selection--single .select2-selection__rendered {
  color: #ffffff;
  line-height: 27px;
  padding-left: 12px;
  padding-right: 30px;
}

.select2-container.select2-container--table .select2-selection--single .select2-selection__placeholder {
  color: #ffffff;
}

.select2-container.select2-container--table .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 6px;
  width: 20px;
}

.select2-container.select2-container--table .select2-selection--single .select2-selection__arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../icon/select-arrow.svg") no-repeat center/12px;
}

.select2-container.select2-container--table.select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.select2-container.select2-container--table.select2-container--open .select2-dropdown {
  border-radius: 4px;
  background-color: #2F2A3D;
  border-color: #14121D;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.select2-container--table.select2-container--open.select2-container--above .select2-selection--single {
  border-color: #ffffff;
}

.select2-container--table.select2-container--open.select2-container--below .select2-selection--single {
  border-color: #ffffff;
}

.select2-container--table .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  padding: 6px 0;
}

.select2-container--table .select2-results > .select2-results__options .select2-results__option {
  font-size: 12px;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

.select2-container--table .select2-results > .select2-results__options .select2-results__option span[data-type=delete] {
  color: #F25634;
}

.select2-container--table .select2-results > .select2-results__options .select2-results__option--disabled {
  color: #403A51;
}

.select2-container--table .select2-results > .select2-results__options .select2-results__option--selectable.select2-results__option--highlighted {
  color: #ffffff;
  background-color: #403A51;
}

.select2-container--table .select2-results > .select2-results__options .select2-results__option--selected {
  background-color: #14121D;
  color: #ffffff;
}

.select2-container--table .select2-results > .select2-results__options .select2-results__option--selected.select2-results__option--highlighted {
  background-color: #14121D;
  color: #ffffff;
}

.table .table__item_body .select2-container {
  min-width: 100%;
}

.select2-container.select2-container--rights {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.select2-container.select2-container--rights .select2-selection--single {
  background-color: #2F2A3D;
  border: 1px solid #2F2A3D;
  border-radius: 14px;
  display: inline-block;
  position: relative;
}

.select2-container.select2-container--rights .select2-selection--single .select2-selection__rendered {
  color: #ffffff;
  line-height: 27px;
  padding-left: 12px;
  padding-right: 30px;
}

.select2-container.select2-container--rights .select2-selection--single .select2-selection__placeholder {
  color: #ffffff;
}

.select2-container.select2-container--rights .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 6px;
  width: 20px;
}

.select2-container.select2-container--rights .select2-selection--single .select2-selection__arrow b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../icon/select-arrow.svg") no-repeat center/12px;
}

.select2-container.select2-container--rights.select2-container--open .select2-selection--single .select2-selection__arrow b {
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
}

.select2-container.select2-container--rights.select2-container--open .select2-dropdown {
  border-radius: 4px;
  background-color: #2F2A3D;
  border-color: #14121D;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.select2-container--rights.select2-container--open.select2-container--above .select2-selection--single {
  border-color: #ffffff;
}

.select2-container--rights.select2-container--open.select2-container--below .select2-selection--single {
  border-color: #ffffff;
}

.select2-container--rights .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  padding: 6px 0;
}

.select2-container--rights .select2-results > .select2-results__options .select2-results__option {
  font-size: 12px;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

.select2-container--rights .select2-results > .select2-results__options .select2-results__option--disabled {
  color: #403A51;
}

.select2-container--rights .select2-results > .select2-results__options .select2-results__option--selectable.select2-results__option--highlighted {
  color: #ffffff;
  background-color: #403A51;
}

.select2-container--rights .select2-results > .select2-results__options .select2-results__option--selected {
  background-color: #14121D;
  color: #ffffff;
}

.select2-container--rights .select2-results > .select2-results__options .select2-results__option--selected.select2-results__option--highlighted {
  background-color: #14121D;
  color: #ffffff;
}

.form {
  margin-bottom: 0;
}

.form__label {
  margin-bottom: 12px;
  line-height: 1.4;
}

.form__label_secondary {
  color: #CBCEFF;
}

.form__group {
  position: relative;
  margin-top: 24px;
}

.form__additional {
  margin-top: 24px;
}

.form__addinional-link {
  color: #CBCEFF;
  position: absolute;
  top: 0;
  right: 0;
}

.form_search {
  position: relative;
}

.form_search__icon {
  display: inline-block;
  width: 16px;
  background: url("../icon/search-secondary.svg") no-repeat center/contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
}

.form_search__input {
  padding-left: 36px;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breadcrumb__home-icon {
  fill: #00FFFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumb__home-icon:hover {
  fill: #99FFFF;
}

.breadcrumb__home-icon:focus {
  fill: #CBFFFF;
}

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breadcrumb-item.active {
  color: #CBCEFF;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: unset;
  color: #CBCEFF;
  padding-right: 0;
  margin-right: 0.75rem;
  width: 10px;
  height: 10px;
  background: url("../icon/breadcrumb-sep.svg") no-repeat center/contain;
  display: block;
  content: '';
}

.pagination {
  margin-bottom: 0;
}

.page-item {
  margin-right: 6px;
}

.page-item:last-child {
  margin-right: 0;
}

.page-item.active .page-link {
  color: #14121D;
  background-color: #00FFFF;
  border-color: #00FFFF;
}

.page-link {
  border-radius: 4px;
  padding: 6px 10px;
  line-height: 1;
  color: #CBCEFF;
  background-color: #2F2A3D;
  border-color: #2F2A3D;
}

.page-link:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #403A51;
  border-color: #403A51;
}

.logs {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 6px 12px;
  font-size: 12px;
  text-align: right;
}

.logs__heading {
  font-weight: 600;
  color: #CBCEFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.logs__intro {
  color: #CBCEFF;
  -webkit-filter: opacity(0.5);
  filter: opacity(0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.logs:hover {
  text-decoration: none;
  background-color: #2F2A3D;
}

.logs:hover .logs__heading {
  color: #ffffff;
}

.logs:hover .logs__intro {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.option {
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #2F2A3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
}

.option__name {
  margin-right: 6px;
}

.option__value {
  margin-right: 6px;
}

.option__close {
  fill: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.option__close:hover, .option__close:focus {
  fill: #CBCEFF;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
}

.status__icon {
  border-radius: 4px;
  margin-left: 6px;
}

.status__icon[data-type=true] {
  fill: #ADFC04;
}

.status__icon[data-type=warning] {
  fill: #F2C834;
}

.status__icon[data-type=false] {
  fill: #F25634;
}

.status_minimal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #CBCEFF;
}

.status_minimal:before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.status_minimal[data-type=true]:before {
  background-color: #ADFC04;
}

.status_minimal[data-type=warning]:before {
  background-color: #F2C834;
}

.status_minimal[data-type=false]:before {
  background-color: #F25634;
}

.tooltip.true .tooltip-inner {
  background-color: #ADFC04;
  color: #14121D;
}

.tooltip.false .tooltip-inner {
  background-color: #F25634;
  color: #ffffff;
}

.tooltip.warning .tooltip-inner {
  background-color: #F2C834;
  color: #14121D;
}

.table {
  min-width: 100%;
  width: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.table .table__item {
  border-color: #14121D;
  white-space: nowrap;
  text-align: left;
}

.table .table__item_head {
  position: relative;
  padding: 6px 0 12px;
  font-size: 12px;
  font-weight: 500;
  color: #CBCEFF;
  vertical-align: middle;
}

.table .table__item_body {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  vertical-align: middle;
}

.table .table__item_check {
  width: 60px;
}

.table .table__item_avatar {
  width: 54px;
}

.table__item-sortable {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 4px;
  padding: 6px 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.table__item-sortable:hover {
  background-color: #2F2A3D;
}

.table__item-sortable_active {
  background-color: #14121D;
}

.table__item-sortable_active:hover {
  background-color: #2F2A3D;
}

.table__item-no-sortable {
  padding: 6px 12px;
}

.table__item-sort {
  fill: #CBCEFF;
  margin-left: 6px;
}

.table__item-sort_asc path:nth-child(1) {
  fill: #403A51;
}

.table__item-sort_asc path:nth-child(2) {
  fill: #ffffff;
}

.table__item-sort_desc path:nth-child(1) {
  fill: #ffffff;
}

.table__item-sort_desc path:nth-child(2) {
  fill: #403A51;
}

.table__body {
  border-top: none;
}

.table__user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.table__link {
  text-decoration: underline;
}

.table__intro {
  margin-top: 4px;
  font-size: 12px;
  color: #CBCEFF;
}

.table__edit {
  position: relative;
}

.table__edit-action {
  padding: 8px 8px 8px 10px;
  border-radius: 16px;
  background-color: #2F2A3D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.table__edit-action:hover {
  background-color: #403A51;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
}

.table__edit-arrow {
  margin-left: 6px;
  fill: #ffffff;
  stroke: #ffffff;
}

.table__edit-select {
  display: none;
  position: absolute;
  z-index: 99;
  left: 0;
  top: calc(100% + 6px);
  padding: 6px 0;
  border-radius: 4px;
  background-color: #2F2A3D;
  border-color: #14121D;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.table__edit-item {
  padding: 6px 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.table__edit-item:hover {
  color: #ffffff;
  background-color: #403A51;
}

.intro {
  min-height: 100vh;
}

.intro__image {
  position: relative;
  background: url("../img/@img.png") no-repeat center/cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.intro__image:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #221E2D;
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}

.intro__form {
  height: 100%;
  min-height: 100vh;
  background-color: #221E2D;
  color: #ffffff;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.filters__open {
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #2F2A3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.filters__open:hover {
  background-color: #403A51;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
}

.filters__open_has-count {
  margin-right: 12px;
}

.filters__open-icon {
  fill: #CBCEFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.filters__open-count {
  border-radius: 50%;
  background-color: #00FFFF;
  color: #14121D;
  width: 18px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18px;
  flex: 0 0 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin-left: 6px;
}

.filters__item {
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #2F2A3D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
}

.filters__item-name {
  margin-right: 6px;
}

.filters__item-value {
  margin-right: 6px;
}

.filters__item-close {
  fill: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.filters__item-close:hover, .filters__item-close:focus {
  fill: #CBCEFF;
}

.sidebar-action {
  fill: #ffffff;
  stroke: #ffffff;
  background-color: #2F2A3D;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 260px;
  top: 24px;
  -webkit-transform: translateX(-36px);
  -ms-transform: translateX(-36px);
  transform: translateX(-36px);
  z-index: 111;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-action:hover {
  fill: #CBCEFF;
  stroke: #CBCEFF;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
}

.sidebar-action--small {
  left: 14px;
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.sidebar-action--small path {
  -webkit-transform: rotate(180deg) translateX(-1px);
  -ms-transform: rotate(180deg) translateX(-1px);
  transform: rotate(180deg) translateX(-1px);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background-color: #221E2D;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar--small {
  width: 72px;
}

.sidebar__header {
  padding: 24px;
}

.sidebar__header--small {
  padding-left: 12px;
  padding-right: 12px;
}

.sidebar__logo {
  margin-left: 16px;
}

.sidebar__logo--small {
  -webkit-filter: opacity(0);
  filter: opacity(0);
}

.sidebar__container {
  overflow: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: auto;
}

.sidebar__body {
  padding: 24px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sidebar__body--small {
  padding-left: 12px;
  padding-right: 12px;
}

.sidebar__nav {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
}

.sidebar__sep {
  width: 100%;
  height: 1px;
  background-color: #14121D;
  margin: 6px 0;
}

.sidebar__item {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 4px;
  color: #CBCEFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar__item-icon {
  fill: #CBCEFF;
}

.sidebar__item-title {
  line-height: 16px;
}

.sidebar__item-arrow {
  fill: #CBCEFF;
  stroke: #CBCEFF;
  width: 16px;
  height: 16px;
}

.sidebar__item:hover {
  background-color: #2F2A3D;
  color: #ffffff;
  text-decoration: none;
}

.sidebar__item:hover .sidebar__item-icon {
  fill: #ffffff;
}

.sidebar__item:hover .sidebar__item-arrow {
  fill: #ffffff;
  stroke: #ffffff;
}

.sidebar__item_secondary {
  background-color: #2F2A3D;
}

.sidebar__item_parent--open {
  background-color: #2F2A3D;
  color: #ffffff;
}

.sidebar__item--small {
  background-color: inherit;
  grid-template-columns: 16px;
}

.sidebar__parent-secondary {
  border-radius: 4px;
  background-color: #2F2A3D;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__parent-secondary--small {
  background-color: inherit;
}

.sidebar__item-child {
  color: #CBCEFF;
}

.sidebar__item-child:hover {
  color: #ffffff;
  text-decoration: none;
}

.sidebar__children {
  display: none;
  grid-gap: 6px;
  grid-template-columns: 1fr;
  padding-left: 52px;
}

.sidebar__children--open {
  display: grid;
}

.sidebar__children_secondary {
  padding-left: 48px;
  padding-bottom: 12px;
}

.sidebar__footer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  padding: 24px;
}

.sidebar__footer--small {
  padding-left: 12px;
  padding-right: 12px;
}

.sidebar__profile {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 44px auto;
  margin-bottom: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__profile-image {
  background: no-repeat center / cover;
  border-radius: 50%;
  width: 100%;
  height: 44px;
}

.sidebar__profile-image--small {
  height: 32px;
}

.sidebar__profile-role {
  font-size: 12px;
  color: #CBCEFF;
}

.sidebar__profile:hover {
  text-decoration: none;
  color: #ffffff;
  -webkit-filter: opacity(0.7);
  filter: opacity(0.7);
}

.sidebar__profile--small {
  grid-template-columns: 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  padding: 24px 24px 12px;
  max-width: calc(100% - 260px);
  -webkit-transform: translateX(260px);
  -ms-transform: translateX(260px);
  transform: translateX(260px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content--sidebar-open {
  max-width: calc(100% - 72px);
  -webkit-transform: translateX(72px);
  -ms-transform: translateX(72px);
  transform: translateX(72px);
}

.content__inside {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 24px;
  background-color: #221E2D;
  border-radius: 6px;
}

.content__inside-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.content__heading {
  padding-bottom: 24px;
}

.content__heading-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__heading-action {
  margin-left: 24px;
}

.content__heading-btn {
  margin-left: 12px;
}

.content__title {
  text-transform: uppercase;
  margin-right: 24px;
  margin-bottom: 0;
}

.content__heading-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content__filters {
  padding-bottom: 24px;
}

.content__sep {
  width: calc(100% + 48px);
  height: 1px;
  background-color: #14121D;
  -webkit-transform: translateX(-24px);
  -ms-transform: translateX(-24px);
  transform: translateX(-24px);
  margin-bottom: 24px;
}

.content__footer {
  text-align: center;
  padding-top: 12px;
}

.content__footer-intro {
  color: #CBCEFF;
  font-size: 12px;
}

.modal__close {
  width: 20px;
  fill: #CBCEFF;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal__close:hover {
  fill: #ffffff;
}

.modal-header {
  border-color: #14121D;
}

.modal-content {
  background-color: #221E2D;
}

.modal-title {
  text-transform: uppercase;
}
