.btn {
  padding: 0.75rem;
  font-weight: 600;
  border-radius: 4px;
}

.btn--full {
  width: 100%;
}

.btn-success {
  color: #14121D;
  background-color: #ADFC04;
  border-color: #ADFC04;
}

.btn-success:hover {
  color: #14121D;
  background-color: #C6FF4D;
  border-color: #C6FF4D;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
  text-decoration: none;
}

.btn-success:focus {
  color: #14121D;
  background-color: #D6FF7E;
  border-color: #D6FF7E;
}

.btn-link {
  color: #00FFFF;
}

.input {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #14121D;
  background-color: #14121D;
  color: #ffffff;
}

.input--full {
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: #CBCEFF;
}

.input::-moz-placeholder {
  color: #CBCEFF;
}

.input:-ms-input-placeholder {
  color: #CBCEFF;
}

.input::-ms-input-placeholder {
  color: #CBCEFF;
}

.input::placeholder {
  color: #CBCEFF;
}

.input:focus {
  outline: 2px solid #CBCEFF;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0.2;
}

.input:focus::-moz-placeholder {
  opacity: 0.2;
}

.input:focus:-ms-input-placeholder {
  opacity: 0.2;
}

.input:focus::-ms-input-placeholder {
  opacity: 0.2;
}

.input:focus::placeholder {
  opacity: 0.2;
}

.input_success {
  border: 1px solid #ADFC04;
  color: #ADFC04;
}

.input_success:focus {
  outline-color: #ADFC04;
}

.input_error {
  border: 1px solid #F25634;
  color: #F25634;
}

.input_error:focus {
  outline-color: #F25634;
}

.form__label {
  margin-bottom: 12px;
  line-height: 1.4;
}

.form__group {
  position: relative;
  margin-top: 24px;
}

.form__additional {
  margin-top: 24px;
}

.form__addinional-link {
  color: #CBCEFF;
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breadcrumb__home-icon {
  fill: #00FFFF;
}

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breadcrumb-item.active {
  color: #CBCEFF;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  float: unset;
  color: #CBCEFF;
  padding-right: 0;
  margin-right: 0.75rem;
  width: 10px;
  height: 10px;
  background: url("../icon/breadcrumb-sep.svg") no-repeat center/contain;
  display: block;
  content: '';
}

.intro {
  min-height: 100vh;
}

.intro__image {
  position: relative;
  background: url("../img/@img.png") no-repeat center/cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.intro__image:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #221E2D;
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}

.intro__form {
  height: 100%;
  min-height: 100vh;
  background-color: #221E2D;
  color: #ffffff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  background-color: #221E2D;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidebar__header {
  padding: 24px;
}

.sidebar__action {
  fill: #ffffff;
  stroke: #ffffff;
  background-color: #2F2A3D;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 24px;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__action:hover {
  fill: #CBCEFF;
  stroke: #CBCEFF;
  -webkit-box-shadow: 4px 4px 10px #1F1C29;
  box-shadow: 4px 4px 10px #1F1C29;
}

.sidebar__logo {
  margin-left: 16px;
}

.sidebar__body {
  padding: 24px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: auto;
}

.sidebar__nav {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
}

.sidebar__sep {
  width: 100%;
  height: 1px;
  background-color: #14121D;
  margin: 12px 0;
}

.sidebar__item {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-gap: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 4px;
  color: #CBCEFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sidebar__item-icon {
  fill: #CBCEFF;
}

.sidebar__item-arrow {
  fill: #CBCEFF;
  stroke: #CBCEFF;
}

.sidebar__item:hover {
  background-color: #2F2A3D;
  color: #ffffff;
  text-decoration: none;
}

.sidebar__item:hover .sidebar__item-icon {
  fill: #ffffff;
}

.sidebar__item:hover .sidebar__item-arrow {
  fill: #ffffff;
  stroke: #ffffff;
}

.sidebar__item_secondary {
  background-color: #2F2A3D;
}

.sidebar__children {
  display: none;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  padding-left: 52px;
}

.sidebar__children--open {
  display: grid;
}

.sidebar__footer {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  padding: 24px;
}

.sidebar__profile {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 44px auto;
  margin-bottom: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar__profile-image {
  background: no-repeat center / cover;
  border-radius: 50%;
}

.sidebar__profile-role {
  font-size: 12px;
  color: #CBCEFF;
}

.sidebar__profile:hover {
  text-decoration: none;
  color: #ffffff;
  -webkit-filter: opacity(0.7);
  filter: opacity(0.7);
}

.content {
  padding: 24px;
  margin-left: 260px;
}

.content__inside {
  padding: 24px;
  background-color: #221E2D;
  border-radius: 12px;
}

.content__heading {
  padding-bottom: 24px;
}

.content__heading-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__heading-action {
  margin-left: 24px;
}

.content__title {
  text-transform: uppercase;
  margin-right: 24px;
  margin-bottom: 0;
}

.content__heading-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
