extends ../blocks/main.pug

block variables
    - var pageTitle = "Dashboard Panels"
block content
    .content.dashboard
        .content__inside-container
            .container-fluid
                .row.align-items-center.dashboard__heading
                    .col-12.col-lg-7.col-md-5
                        .content__heading-left
                            h1.h5.content__title Dashboard
                            ul.breadcrumb.d-none.d-md-flex
                                li.breadcrumb-item
                                    a.breadcrumb__link.breadcrumb__home(href="dashboard.html") 
                                        svg.breadcrumb__home-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M1.05938 6.90431L6.69082 1.27697C6.73137 1.23634 6.77953 1.20411 6.83255 1.18212C6.88557 1.16012 6.94241 1.1488 6.99981 1.1488C7.05721 1.1488 7.11404 1.16012 7.16706 1.18212C7.22008 1.20411 7.26824 1.23634 7.30879 1.27697L12.9402 6.90431C13.1043 7.06837 13.1973 7.29122 13.1973 7.52365C13.1973 8.00626 12.8049 8.39865 12.3223 8.39865H11.7289V12.4141C11.7289 12.6561 11.5334 12.8516 11.2914 12.8516H7.87481V9.78908H6.34356V12.8516H2.70821C2.46621 12.8516 2.27071 12.6561 2.27071 12.4141V8.39865H1.67735C1.44493 8.39865 1.22207 8.30704 1.05801 8.14161C0.717583 7.79982 0.717583 7.24611 1.05938 6.90431Z")
                    .col-12.col-lg-5.col-md-7.d-none.d-md-block
                        .content__heading-right.justify-content-end
                            .content__heading-logs
                                a.logs(href="#" data-toggle="modal" data-target="#logsModal")
                                    span.logs__heading Show logs
                                    span.logs__intro Last Update: 10/04/2022 15:40
                            .content__heading-action.d-flex
                                a.btn.btn-secondary(href="#") Settings
                //- Grid
                .dashboard__grid
                    .dashboard__grid-col-17.dashboard__grid-row-13.dashboard__card
                        .dashboard__card-header
                            .dashboard__card-title Connection status
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="") Day
                                    option(value="2" data-action="" data-type="") Week
                                    option(value="3" data-action="" data-type="") Month
                                    option(value="4" data-action="" data-type="") Year
                        .dashboard__card-body
                    .dashboard__grid-col-710.dashboard__grid-row-12.dashboard__card.dashboard__card_danger
                        .dashboard__card-header 
                            .dashboard__card-subtitle.dashboard__card-subtitle_danger STOLEN NOW
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="") Day
                                    option(value="2" data-action="" data-type="") Week
                                    option(value="3" data-action="" data-type="" selected) Month
                                    option(value="4" data-action="" data-type="") Year
                        .dashboard__card-body
                            .dashboard__card-stats-value 6 vehicles
                            .dashboard__card-stats
                                .dashboard__card-stats-label.status.status_label(data-type="false") 
                                    svg(width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M9.80924 6.5266C9.74727 6.46411 9.67354 6.41452 9.5923 6.38067C9.51106 6.34683 9.42392 6.3294 9.33592 6.3294C9.24791 6.3294 9.16078 6.34683 9.07954 6.38067C8.9983 6.41452 8.92457 6.46411 8.86259 6.5266L6.6693 8.72656V3.66665C6.6693 3.48985 6.59907 3.32028 6.47405 3.19526C6.34902 3.07024 6.17946 3 6.00265 3C5.82584 3 5.65628 3.07024 5.53125 3.19526C5.40623 3.32028 5.336 3.48985 5.336 3.66665V8.72656L3.14271 6.5266C3.01717 6.40106 2.84691 6.33054 2.66938 6.33054C2.49185 6.33054 2.32159 6.40106 2.19606 6.5266C2.07052 6.65213 2 6.82239 2 6.99992C2 7.17745 2.07052 7.34771 2.19606 7.47325L5.52933 10.8065C5.59273 10.8672 5.66749 10.9148 5.74932 10.9465C5.82912 10.9818 5.9154 11 6.00265 11C6.0899 11 6.17618 10.9818 6.25598 10.9465C6.33781 10.9148 6.41257 10.8672 6.47597 10.8065L9.80924 7.47325C9.87173 7.41127 9.92132 7.33754 9.95517 7.2563C9.98901 7.17506 10.0064 7.08793 10.0064 6.99992C10.0064 6.91192 9.98901 6.82478 9.95517 6.74354C9.92132 6.66231 9.87173 6.58857 9.80924 6.5266V6.5266Z" fill="white")
                                    | 2
                                .dashboard__card-stats-intro Since previous week
                    .dashboard__grid-col-1013.dashboard__grid-row-12.dashboard__card.dashboard__card_success
                        .dashboard__card-header
                            .dashboard__card-subtitle.dashboard__card-subtitle_success ONLINE NOW
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="") Real time
                                    option(value="2" data-action="" data-type="" selected) Hour
                                    option(value="3" data-action="" data-type="") Day
                        .dashboard__card-body
                            .dashboard__card-stats-value 20 vehicles
                            .dashboard__card-stats
                                .dashboard__card-stats-label.status.status_label(data-type="true")
                                    svg(width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M2.19076 6.4734C2.25273 6.53589 2.32646 6.58548 2.4077 6.61933C2.48894 6.65317 2.57608 6.6706 2.66408 6.6706C2.75209 6.6706 2.83922 6.65317 2.92046 6.61933C3.0017 6.58548 3.07543 6.53589 3.13741 6.4734L5.3307 4.27344L5.3307 9.33335C5.3307 9.51015 5.40093 9.67972 5.52595 9.80474C5.65098 9.92976 5.82054 10 5.99735 10C6.17416 10 6.34372 9.92976 6.46875 9.80474C6.59377 9.67972 6.664 9.51015 6.664 9.33335L6.664 4.27344L8.85729 6.4734C8.98283 6.59894 9.15309 6.66946 9.33062 6.66946C9.50815 6.66946 9.67841 6.59894 9.80394 6.4734C9.92948 6.34787 10 6.17761 10 6.00008C10 5.82255 9.92948 5.65229 9.80394 5.52675L6.47067 2.19349C6.40727 2.13279 6.33251 2.08522 6.25068 2.05349C6.17088 2.01822 6.0846 2 5.99735 2C5.9101 2 5.82382 2.01822 5.74402 2.05349C5.66219 2.08522 5.58743 2.13279 5.52403 2.19349L2.19076 5.52675C2.12827 5.58873 2.07868 5.66246 2.04483 5.7437C2.01099 5.82494 1.99356 5.91207 1.99356 6.00008C1.99356 6.08808 2.01099 6.17522 2.04483 6.25646C2.07868 6.33769 2.12827 6.41143 2.19076 6.4734Z" fill="#12111D")
                                    | 12
                                .dashboard__card-stats-intro Since previous hour

                    .dashboard__grid-col-710.dashboard__grid-row-23.dashboard__card
                        .dashboard__card-header.dashboard__card-header_has-border
                            .dashboard__card-subtitle REQUESTS
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="") Day
                                    option(value="2" data-action="" data-type="" selected) Week
                                    option(value="3" data-action="" data-type="") Month
                                    option(value="4" data-action="" data-type="") Year
                        .dashboard__card-body
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="default") 94
                                .dashboard__card-stats-intro open request
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="true") 4
                                .dashboard__card-stats-intro new request
                    .dashboard__grid-col-1013.dashboard__grid-row-23.dashboard__card
                        .dashboard__card-header.dashboard__card-header_has-border
                            .dashboard__card-subtitle SERVICE
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="" selected) Today
                                    option(value="2" data-action="" data-type="" ) This week
                                    option(value="3" data-action="" data-type="") This month
                        .dashboard__card-body
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="true") 12
                                .dashboard__card-stats-intro need service
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="false") 2
                                .dashboard__card-stats-intro missing service
                .dashboard__grid
                    .dashboard__grid-col-15.dashboard__grid-row-12.dashboard__card
                        .dashboard__card-header.dashboard__card-header_has-border
                            .dashboard__card-title Statistics
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="") USA
                                    option(value="2" data-action="" data-type="") Asia
                                    option(value="3" data-action="" data-type="") Europe
                        .dashboard__card-body
                    .dashboard__grid-col-510.dashboard__grid-row-12.dashboard__card
                        .dashboard__card-header.dashboard__card-header_has-border
                            .dashboard__card-title Vehicles by country
                        .dashboard__card-body
                    .dashboard__grid-col-1013.dashboard__grid-row-12.dashboard__card
                        .dashboard__card-header.dashboard__card-header_has-border
                            .dashboard__card-title Mileage
                            .dashboard__card-select
                                select.select.select_dashboard(style="width:100%;")
                                    option(value="1" data-action="" data-type="") Day
                                    option(value="2" data-action="" data-type="") Week
                                    option(value="3" data-action="" data-type="") Month
                                    option(value="4" data-action="" data-type="" selected) Year
                        .dashboard__card-body
                            .dashboard__card-diagram
                                #appCircle
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="default") 20
                                .dashboard__card-stats-intro 0 - 5.000 km
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="false") 90
                                .dashboard__card-stats-intro 5.000 - 10.000 km
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="warning") 20
                                .dashboard__card-stats-intro 10.000 - 20.000 km
                            .dashboard__card-stats
                                .dashboard__card-stats-minimal.status.status_minimal(data-type="true") 90
                                .dashboard__card-stats-intro 20.000 - 30.000 km
block footer