extends ../blocks/main.pug

block variables
    - var pageTitle = "Device's Settings"
    mixin tableLine(link, vehicle, model, firmware)
        tr.table__line
            td.table__item.table__item_body.table__item_check
                label.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__label
            td.table__item.table__item_body
                a.table__link(href=link)= vehicle
            td.table__item.table__item_body= model
            td.table__item.table__item_body= firmware
            td.table__item.table__item_body.table__item_action.table__item_action-body
                select.select.select_table(data-placeholder="Action")
                    option 
                    option(value="1" data-action="edit-device-setting.html" data-type="link") Edit model
                    option(value="2" data-action="#logsModal" data-type="modal") Show log
block content
    .content
        .content__inside
            .content__inside-container
                .container-fluid
                    .row.align-items-center.content__heading
                        .col-12.col-lg-7
                            .content__heading-left
                                h1.h5.content__title Device's Settings 
                                ul.breadcrumb
                                    li.breadcrumb-item
                                        a.breadcrumb__link.breadcrumb__home(href="dashboard.html") 
                                            svg.breadcrumb__home-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M1.05938 6.90431L6.69082 1.27697C6.73137 1.23634 6.77953 1.20411 6.83255 1.18212C6.88557 1.16012 6.94241 1.1488 6.99981 1.1488C7.05721 1.1488 7.11404 1.16012 7.16706 1.18212C7.22008 1.20411 7.26824 1.23634 7.30879 1.27697L12.9402 6.90431C13.1043 7.06837 13.1973 7.29122 13.1973 7.52365C13.1973 8.00626 12.8049 8.39865 12.3223 8.39865H11.7289V12.4141C11.7289 12.6561 11.5334 12.8516 11.2914 12.8516H7.87481V9.78908H6.34356V12.8516H2.70821C2.46621 12.8516 2.27071 12.6561 2.27071 12.4141V8.39865H1.67735C1.44493 8.39865 1.22207 8.30704 1.05801 8.14161C0.717583 7.79982 0.717583 7.24611 1.05938 6.90431Z")
                                    li.breadcrumb-item.active Device's Settings
                        .col-12.col-lg-5
                            .content__heading-right
                                .content__heading-search
                                    form.form.form_search
                                        span.form_search__icon
                                        input.input.form_search__input(type="text" placeholder="Search")
                    
                    .content__filters
                        .filters
                            .filters__open
                                svg.filters__open-icon(width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.125 13.4583C7.125 13.2926 7.18756 13.1336 7.29891 13.0164C7.41026 12.8992 7.56128 12.8333 7.71875 12.8333H11.2813C11.4387 12.8333 11.5897 12.8992 11.7011 13.0164C11.8124 13.1336 11.875 13.2926 11.875 13.4583C11.875 13.6241 11.8124 13.783 11.7011 13.9003C11.5897 14.0175 11.4387 14.0833 11.2813 14.0833H7.71875C7.56128 14.0833 7.41026 14.0175 7.29891 13.9003C7.18756 13.783 7.125 13.6241 7.125 13.4583ZM4.75 9.70831C4.75 9.54255 4.81256 9.38358 4.92391 9.26637C5.03526 9.14916 5.18628 9.08331 5.34375 9.08331H13.6563C13.8137 9.08331 13.9647 9.14916 14.0761 9.26637C14.1874 9.38358 14.25 9.54255 14.25 9.70831C14.25 9.87407 14.1874 10.033 14.0761 10.1503C13.9647 10.2675 13.8137 10.3333 13.6563 10.3333H5.34375C5.18628 10.3333 5.03526 10.2675 4.92391 10.1503C4.81256 10.033 4.75 9.87407 4.75 9.70831ZM2.375 5.95831C2.375 5.79255 2.43756 5.63358 2.54891 5.51637C2.66026 5.39916 2.81128 5.33331 2.96875 5.33331H16.0313C16.1887 5.33331 16.3397 5.39916 16.4511 5.51637C16.5624 5.63358 16.625 5.79255 16.625 5.95831C16.625 6.12407 16.5624 6.28304 16.4511 6.40025C16.3397 6.51746 16.1887 6.58331 16.0313 6.58331H2.96875C2.81128 6.58331 2.66026 6.51746 2.54891 6.40025C2.43756 6.28304 2.375 6.12407 2.375 5.95831Z")
                        //- .content__filters_additional 
                        //-     span.content__additional Showing 10 of 76
                    .content__tabs
                        a.content__tabs-item.content__tabs-item--active(href="devices-settings.html") All
                        a.content__tabs-item(href="#") Controllers
                        a.content__tabs-item(href="#") Displays
                        a.content__tabs-item(href="#") Distribution Boards
                        a.content__tabs-item(href="#") Unit Boards
                        a.content__tabs-item(href="#") Remote Controls
                        a.content__tabs-item(href="#") GPS Modules
                        a.content__tabs-item(href="#") Batterys
                        a.content__tabs-item(href="#") PSC
                    .content__table
                        .table-responsive
                            table.table
                                thead.table__head
                                    tr.table__line
                                        th.table__item.table__item_head.table__item_check
                                            .table__edit
                                                .table__edit-action
                                                    label.checkbox
                                                        input.checkbox__input(type="checkbox")
                                                        span.checkbox__label.checkbox__label_empty
                                                    svg.table__edit-arrow(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M9.25785 5.40324C9.28173 5.42536 9.30067 5.45162 9.31359 5.48054C9.32652 5.50946 9.33317 5.54046 9.33317 5.57177C9.33317 5.60308 9.32652 5.63408 9.31359 5.663C9.30067 5.69192 9.28173 5.71819 9.25785 5.7403L6.18129 8.59671C6.15747 8.61888 6.12918 8.63647 6.09803 8.64847C6.06688 8.66047 6.03349 8.66665 5.99977 8.66665C5.96605 8.66665 5.93266 8.66047 5.90151 8.64847C5.87036 8.63647 5.84207 8.61888 5.81825 8.59671L2.74169 5.7403C2.69355 5.6956 2.6665 5.63498 2.6665 5.57177C2.6665 5.50856 2.69355 5.44794 2.74169 5.40324C2.78983 5.35855 2.85513 5.33344 2.92321 5.33344C2.99129 5.33344 3.05658 5.35855 3.10472 5.40324L5.99977 8.09161L8.89481 5.40324C8.91863 5.38108 8.94692 5.36349 8.97807 5.35149C9.00922 5.33949 9.04261 5.33331 9.07633 5.33331C9.11005 5.33331 9.14345 5.33949 9.17459 5.35149C9.20574 5.36349 9.23403 5.38108 9.25785 5.40324Z")
                                                .table__edit-select
                                                    .table__edit-item Update selected
                                                    .table__edit-item Delete selected
                                        th.table__item.table__item_head
                                            .table__item-sortable Device 
                                                svg.table__item-sort(width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M3.34446 0.692434C3.42451 0.593399 3.57549 0.593399 3.65554 0.692434L6.26781 3.92428C6.37352 4.05506 6.28044 4.25 6.11227 4.25H0.887733C0.719563 4.25 0.626476 4.05506 0.73219 3.92428L3.34446 0.692434Z")
                                                    path(d="M3.65554 9.30757C3.57549 9.4066 3.42451 9.4066 3.34446 9.30757L0.732191 6.07572C0.626476 5.94494 0.719563 5.75 0.887733 5.75L6.11227 5.75C6.28044 5.75 6.37352 5.94494 6.26781 6.07572L3.65554 9.30757Z")
                                        th.table__item.table__item_head
                                            .table__item-sortable.table__item-sortable_active Model 
                                                svg.table__item-sort.table__item-sort_asc(width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M3.34446 0.692434C3.42451 0.593399 3.57549 0.593399 3.65554 0.692434L6.26781 3.92428C6.37352 4.05506 6.28044 4.25 6.11227 4.25H0.887733C0.719563 4.25 0.626476 4.05506 0.73219 3.92428L3.34446 0.692434Z")
                                                    path(d="M3.65554 9.30757C3.57549 9.4066 3.42451 9.4066 3.34446 9.30757L0.732191 6.07572C0.626476 5.94494 0.719563 5.75 0.887733 5.75L6.11227 5.75C6.28044 5.75 6.37352 5.94494 6.26781 6.07572L3.65554 9.30757Z")
                                        th.table__item.table__item_head.table__item_fill
                                            .table__item-sortable Firmware
                                                svg.table__item-sort(width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M3.34446 0.692434C3.42451 0.593399 3.57549 0.593399 3.65554 0.692434L6.26781 3.92428C6.37352 4.05506 6.28044 4.25 6.11227 4.25H0.887733C0.719563 4.25 0.626476 4.05506 0.73219 3.92428L3.34446 0.692434Z")
                                                    path(d="M3.65554 9.30757C3.57549 9.4066 3.42451 9.4066 3.34446 9.30757L0.732191 6.07572C0.626476 5.94494 0.719563 5.75 0.887733 5.75L6.11227 5.75C6.28044 5.75 6.37352 5.94494 6.26781 6.07572L3.65554 9.30757Z")
                                        th.table__item.table__item_head.table__item_action
                                tbody.table__body
                                    +tableLine("#","Controllers", "SC", "VL_v2.4.1 , VL_v2.4.2")
                                    +tableLine("#","Controllers", "DC", "VL_v2.4.1 , VL_v2.4.2")
                                    +tableLine("#","Controllers", "AM", "VL_v2.4.1 , VL_v2.4.2")
                                    +tableLine("display.html","Display", "DT - DIsplay1", "V11.3.001")
                                    +tableLine("display.html","Display", "DT - DIsplay2", "V11.3.001, V11.6.001")
                                    +tableLine("display.html","Display", "DT - DIsplay3", "V11.6.001")
                                    +tableLine("display.html","Display", "DT - DIsplay4", "V11.3.001")
                                    +tableLine("#","Unit Board", "DTUB-1", "V11.3.001")
                                    +tableLine("#","Distribution Board", "DTDB-1", "VL_v2.4.1, V11.3.001")
                                    +tableLine("#","Distribution Board", "DTDB-2", "V11.3.001")
            .content__inside-footer
                .row.align-items-center.mt-5
                    .col-12.col-md-7.col-lg-8
                        .pagination
                            .pagination__on-page Show 
                                input.input.input_small.pagination__input(type="text" value="10")
                                span of 76
                            .page-item
                                a.page-link(href="#") 1
                            .page-item
                                a.page-link(href="#") 2
                            .page-item.active
                                a.page-link(href="#") 3
                    .col-12.col-md-5.col-lg-4.mt-4.mt-md-0
                        a.logs(href="#" data-toggle="modal" data-target="#logsModal")
                            span.logs__heading Show logs
                            span.logs__intro Last Update: 10/04/2022 15:40
        .content__footer 
            p.content__footer-intro Carbogatto LLC © 2022 All Rights Reserved. Version 1.0.0.1
    //- Modal Logs
    .modal.fade(id="logsModal" tabindex="-1" aria-labelledby="logsModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    p.modal-title(id="logsModalLabel") Devices Settings Logs
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    .table-responsive.mb-2
                        table.table
                            thead.table__head
                                tr.table__line
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Device
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Model
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Description
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Time
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable User
                            tbody.table__body
                                tr.table__line
                                    td.table__item.table__item_body
                                        a.table__link(href="display.html") Display
                                    td.table__item.table__item_body DT - DIsplay1
                                    td.table__item.table__item_body Add new firmware
                                    td.table__item.table__item_body 2021-06-25 14:50:24
                                    td.table__item.table__item_body 
                                        a.table__link(href="profile.html") Nikolai Kuzmenko
                                tr.table__line
                                    td.table__item.table__item_body
                                        a.table__link(href="display.html") Display
                                    td.table__item.table__item_body DT - DIsplay2
                                    td.table__item.table__item_body Add new model
                                    td.table__item.table__item_body 2022-06-25 01:20:08
                                    td.table__item.table__item_body 
                                        a.table__link(href="profile.html") Nikolai Kuzmenko
                    ul.pagination
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item.active
                            a.page-link(href="#") 2
block footer