extends ../blocks/main.pug

block variables
    - var pageTitle = "Edit DMS User"
block content
    .content
        .content__inside
            .content__inside-container
                .container-fluid
                    .row.align-items-center.content__heading
                        .col-12.col-lg-7
                            .content__heading-left
                                h1.h5.content__title @nik.manager  
                                ul.breadcrumb
                                    li.breadcrumb-item
                                        a.breadcrumb__link.breadcrumb__home(href="dashboard.html") 
                                            svg.breadcrumb__home-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M1.05938 6.90431L6.69082 1.27697C6.73137 1.23634 6.77953 1.20411 6.83255 1.18212C6.88557 1.16012 6.94241 1.1488 6.99981 1.1488C7.05721 1.1488 7.11404 1.16012 7.16706 1.18212C7.22008 1.20411 7.26824 1.23634 7.30879 1.27697L12.9402 6.90431C13.1043 7.06837 13.1973 7.29122 13.1973 7.52365C13.1973 8.00626 12.8049 8.39865 12.3223 8.39865H11.7289V12.4141C11.7289 12.6561 11.5334 12.8516 11.2914 12.8516H7.87481V9.78908H6.34356V12.8516H2.70821C2.46621 12.8516 2.27071 12.6561 2.27071 12.4141V8.39865H1.67735C1.44493 8.39865 1.22207 8.30704 1.05801 8.14161C0.717583 7.79982 0.717583 7.24611 1.05938 6.90431Z")
                                    li.breadcrumb-item
                                        a.breadcrumb__link(href="dms-users.html") Users
                                    li.breadcrumb-item
                                        a.breadcrumb__link(href="user.html") @nik.manager
                                    li.breadcrumb-item.active Edit
                        .col-12.col-lg-5
                            .content__heading-right
                                a.btn.btn-danger(href="#") Cancel
                                .content__heading-btn
                                    a.btn.btn-success(href="#") Save change
                .content__sep
                .container-fluid
                    form.form.row(action="")
                        .col-12 
                            p.h6.text-bold Account information
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary First Name
                            input.input.input--full(type="text" placeholder="Enter First Name" value="Alice")
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary Last Name
                            input.input.input--full(type="text" placeholder="Enter Last Name" value="Kuzmenko")
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary Date of birth
                            input.input.input--full.input_datetime(type="date" value="1998-01-08")
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary Mobile Phone
                            input.input.input--full(type="text" placeholder="Enter Phone" value="(310) 645-8340")
                        .col-12.col-sm-6.col-lg-4
                            .form__group
                                a.form__addinional-link.text-small(href="#") Request to change
                                .form__label.form__label_secondary E-mail
                                input.input.input--full(type="text" placeholder="Enter E-mail" value="user.email@email.com")
                        .col-12.mt-5
                            p.h6.text-bold Password
                        .col-12.col-lg-4.form__group
                            .form__label.form__label_secondary Old password
                            input.input.input--full(type="password" placeholder="Enter Phone" value="(310) 645-8340")
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary New password
                            input.input.input--full(type="password" placeholder="" value="")
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary Repeat new passwork
                            input.input.input--full(type="password" placeholder="" value="")
                        .col-12.mt-5
                            p.h6.text-bold Address
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary Country
                            input.input.input--full(type="text" placeholder="Enter Country" value="USA")
                        .col-12.col-sm-6.col-lg-4.form__group
                            .form__label.form__label_secondary City
                            input.input.input--full(type="text" placeholder="Enter City" value="Los Angeles")
                        .col-12.col-lg-4.form__group
                            .form__label.form__label_secondary Address
                            textarea.input.input--full(rows="1" placeholder="Enter Address") 5960 W 85th Pl&#13;&#10;Los Angeles, California(CA), 90045
                        .col-12.mt-5
                            p.h6.text-bold Networks
                        .col-12.col-lg-4.form__group
                            .form__label.form__label_secondary TikTok
                            input.input.input--full(type="text" placeholder="TikTok" value="https://tiktok.com/")
                        .col-12.col-lg-4.form__group
                            .form__label.form__label_secondary Instagram
                            input.input.input--full(type="text" placeholder="Instagram" value="https://instagram.com/")
                        .col-12.col-lg-4.form__group
                            .form__label.form__label_secondary Facebook
                            input.input.input--full(type="text" placeholder="Facebook" value="https://facebook.com/")
        .content__footer 
            p.content__footer-intro Carbogatto LLC © 2022 All Rights Reserved. Version 1.0.0.1
    //- Modal Edit
    .modal.fade(id="editOptionModal" tabindex="-1" aria-labelledby="editOptionModalLabel" aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    p.modal-title(id="editOptionModalLabel") Request to change e-mail
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    input.input.input--full(type="text" value="user.email@email.com")
                    .modal__confirmation.mt-3
                        a.btn.btn-success.btn--full(href="#") Save
                        a.btn.btn-danger.btn--full(href="#") Cancel