extends ../blocks/main.pug

block variables
    - var pageTitle = "General Guides"
    mixin tableLine(property, status, color, font)
        tr.table__line
            td.table__item.table__item_body.table__item_check
                label.checkbox
                    input.checkbox__input(type="checkbox")
                    span.checkbox__label
            td.table__item.table__item_body= property
            td.table__item.table__item_body= status
            td.table__item.table__item_body
                span.table__color(style!=attributes.color)
            td.table__item.table__item_body
                span.table__color(style!=attributes.font)
            td.table__item.table__item_body.table__item_action.table__item_action-body
                select.select.select_table(data-placeholder="Action")
                    option 
                    option(value="1" data-action="#editModal" data-type="modal") Edit
                    option(value="2" data-action="#logsModal" data-type="modal") Show log
            td.table__item.table__item_body
                a.btn.btn-secondary.btn--small(href="#") 
                    svg.btn-secondary__icon(width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M3.34446 0.692434C3.42451 0.593399 3.57549 0.593399 3.65554 0.692434L6.26781 3.92428C6.37352 4.05506 6.28044 4.25 6.11227 4.25H0.887733C0.719563 4.25 0.626476 4.05506 0.73219 3.92428L3.34446 0.692434Z")
                        path(d="M3.65554 9.30757C3.57549 9.4066 3.42451 9.4066 3.34446 9.30757L0.732191 6.07572C0.626476 5.94494 0.719563 5.75 0.887733 5.75L6.11227 5.75C6.28044 5.75 6.37352 5.94494 6.26781 6.07572L3.65554 9.30757Z")

block content
    .content
        .content__inside
            .content__inside-container
                .container-fluid
                    .row.align-items-center.content__heading
                        .col-12.col-lg-7
                            .content__heading-left
                                h1.h5.content__title General Guides 
                                ul.breadcrumb
                                    li.breadcrumb-item
                                        a.breadcrumb__link.breadcrumb__home(href="dashboard.html") 
                                            svg.breadcrumb__home-icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                path(d="M1.05938 6.90431L6.69082 1.27697C6.73137 1.23634 6.77953 1.20411 6.83255 1.18212C6.88557 1.16012 6.94241 1.1488 6.99981 1.1488C7.05721 1.1488 7.11404 1.16012 7.16706 1.18212C7.22008 1.20411 7.26824 1.23634 7.30879 1.27697L12.9402 6.90431C13.1043 7.06837 13.1973 7.29122 13.1973 7.52365C13.1973 8.00626 12.8049 8.39865 12.3223 8.39865H11.7289V12.4141C11.7289 12.6561 11.5334 12.8516 11.2914 12.8516H7.87481V9.78908H6.34356V12.8516H2.70821C2.46621 12.8516 2.27071 12.6561 2.27071 12.4141V8.39865H1.67735C1.44493 8.39865 1.22207 8.30704 1.05801 8.14161C0.717583 7.79982 0.717583 7.24611 1.05938 6.90431Z")
                                    li.breadcrumb-item.active General Guides
                        .col-12.col-lg-5
                            .content__heading-right
                                .content__heading-search
                                    form.form.form_search
                                        span.form_search__icon
                                        input.input.form_search__input(type="text" placeholder="Search")
                                .content__heading-action
                                    a.btn.btn-secondary.btn_with-icon(href="#") Add setting
                                        svg.btn__icon.btn-secondary__icon(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                            path(d="M11.0835 6.41668H7.5835V2.91668C7.5835 2.76197 7.52204 2.61359 7.41264 2.5042C7.30324 2.3948 7.15487 2.33334 7.00016 2.33334C6.84545 2.33334 6.69708 2.3948 6.58768 2.5042C6.47829 2.61359 6.41683 2.76197 6.41683 2.91668V6.41668H2.91683C2.76212 6.41668 2.61375 6.47813 2.50435 6.58753C2.39495 6.69693 2.3335 6.8453 2.3335 7.00001C2.3335 7.15472 2.39495 7.30309 2.50435 7.41249C2.61375 7.52188 2.76212 7.58334 2.91683 7.58334H6.41683V11.0833C6.41683 11.2381 6.47829 11.3864 6.58768 11.4958C6.69708 11.6052 6.84545 11.6667 7.00016 11.6667C7.15487 11.6667 7.30324 11.6052 7.41264 11.4958C7.52204 11.3864 7.5835 11.2381 7.5835 11.0833V7.58334H11.0835C11.2382 7.58334 11.3866 7.52188 11.496 7.41249C11.6054 7.30309 11.6668 7.15472 11.6668 7.00001C11.6668 6.8453 11.6054 6.69693 11.496 6.58753C11.3866 6.47813 11.2382 6.41668 11.0835 6.41668Z")
                    .content__filters
                        .filters
                            .filters__open
                                svg.filters__open-icon(width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M7.125 13.4583C7.125 13.2926 7.18756 13.1336 7.29891 13.0164C7.41026 12.8992 7.56128 12.8333 7.71875 12.8333H11.2813C11.4387 12.8333 11.5897 12.8992 11.7011 13.0164C11.8124 13.1336 11.875 13.2926 11.875 13.4583C11.875 13.6241 11.8124 13.783 11.7011 13.9003C11.5897 14.0175 11.4387 14.0833 11.2813 14.0833H7.71875C7.56128 14.0833 7.41026 14.0175 7.29891 13.9003C7.18756 13.783 7.125 13.6241 7.125 13.4583ZM4.75 9.70831C4.75 9.54255 4.81256 9.38358 4.92391 9.26637C5.03526 9.14916 5.18628 9.08331 5.34375 9.08331H13.6563C13.8137 9.08331 13.9647 9.14916 14.0761 9.26637C14.1874 9.38358 14.25 9.54255 14.25 9.70831C14.25 9.87407 14.1874 10.033 14.0761 10.1503C13.9647 10.2675 13.8137 10.3333 13.6563 10.3333H5.34375C5.18628 10.3333 5.03526 10.2675 4.92391 10.1503C4.81256 10.033 4.75 9.87407 4.75 9.70831ZM2.375 5.95831C2.375 5.79255 2.43756 5.63358 2.54891 5.51637C2.66026 5.39916 2.81128 5.33331 2.96875 5.33331H16.0313C16.1887 5.33331 16.3397 5.39916 16.4511 5.51637C16.5624 5.63358 16.625 5.79255 16.625 5.95831C16.625 6.12407 16.5624 6.28304 16.4511 6.40025C16.3397 6.51746 16.1887 6.58331 16.0313 6.58331H2.96875C2.81128 6.58331 2.66026 6.51746 2.54891 6.40025C2.43756 6.28304 2.375 6.12407 2.375 5.95831Z")
                        //- .content__filters_additional 
                        //-     span.content__additional Showing 10 of 76
                    .content__table
                        .table-responsive
                            table.table
                                thead.table__head
                                    tr.table__line
                                        th.table__item.table__item_head.table__item_check
                                            .table__edit
                                                .table__edit-action
                                                    label.checkbox
                                                        input.checkbox__input(type="checkbox")
                                                        span.checkbox__label.checkbox__label_empty
                                                    svg.table__edit-arrow(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M9.25785 5.40324C9.28173 5.42536 9.30067 5.45162 9.31359 5.48054C9.32652 5.50946 9.33317 5.54046 9.33317 5.57177C9.33317 5.60308 9.32652 5.63408 9.31359 5.663C9.30067 5.69192 9.28173 5.71819 9.25785 5.7403L6.18129 8.59671C6.15747 8.61888 6.12918 8.63647 6.09803 8.64847C6.06688 8.66047 6.03349 8.66665 5.99977 8.66665C5.96605 8.66665 5.93266 8.66047 5.90151 8.64847C5.87036 8.63647 5.84207 8.61888 5.81825 8.59671L2.74169 5.7403C2.69355 5.6956 2.6665 5.63498 2.6665 5.57177C2.6665 5.50856 2.69355 5.44794 2.74169 5.40324C2.78983 5.35855 2.85513 5.33344 2.92321 5.33344C2.99129 5.33344 3.05658 5.35855 3.10472 5.40324L5.99977 8.09161L8.89481 5.40324C8.91863 5.38108 8.94692 5.36349 8.97807 5.35149C9.00922 5.33949 9.04261 5.33331 9.07633 5.33331C9.11005 5.33331 9.14345 5.33949 9.17459 5.35149C9.20574 5.36349 9.23403 5.38108 9.25785 5.40324Z")
                                                .table__edit-select
                                                    .table__edit-item Update selected
                                                    .table__edit-item Delete selected
                                        th.table__item.table__item_head
                                            .table__item-sortable Custom property 
                                                svg.table__item-sort(width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M3.34446 0.692434C3.42451 0.593399 3.57549 0.593399 3.65554 0.692434L6.26781 3.92428C6.37352 4.05506 6.28044 4.25 6.11227 4.25H0.887733C0.719563 4.25 0.626476 4.05506 0.73219 3.92428L3.34446 0.692434Z")
                                                    path(d="M3.65554 9.30757C3.57549 9.4066 3.42451 9.4066 3.34446 9.30757L0.732191 6.07572C0.626476 5.94494 0.719563 5.75 0.887733 5.75L6.11227 5.75C6.28044 5.75 6.37352 5.94494 6.26781 6.07572L3.65554 9.30757Z")
                                        th.table__item.table__item_head
                                            .table__item-sortable.table__item-sortable_active Status Name 
                                                svg.table__item-sort.table__item-sort_asc(width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M3.34446 0.692434C3.42451 0.593399 3.57549 0.593399 3.65554 0.692434L6.26781 3.92428C6.37352 4.05506 6.28044 4.25 6.11227 4.25H0.887733C0.719563 4.25 0.626476 4.05506 0.73219 3.92428L3.34446 0.692434Z")
                                                    path(d="M3.65554 9.30757C3.57549 9.4066 3.42451 9.4066 3.34446 9.30757L0.732191 6.07572C0.626476 5.94494 0.719563 5.75 0.887733 5.75L6.11227 5.75C6.28044 5.75 6.37352 5.94494 6.26781 6.07572L3.65554 9.30757Z")
                                        th.table__item.table__item_head 
                                            .table__item-no-sortable Status Color 
                                        th.table__item.table__item_head.table__item_fill
                                            .table__item-no-sortable Status Font Color
                                        th.table__item.table__item_head.table__item_action
                                        th.table__item.table__item_head
                                tbody.table__body
                                    +tableLine("Stolen", "Stolen")(color="background-color:#D1395A;" font="background-color:#FFFFFF;")
                                    +tableLine("Stolen", "Active")(color="background-color:#5DA283;" font="background-color:#FFFFFF;")
                                    +tableLine("Connection", "Disconnect")(color="background-color:#D1395A;" font="background-color:#FFFFFF;")
                                    +tableLine("Connection", "GPS")(color="background-color:#5DA283;" font="background-color:#FFFFFF;")
                                    +tableLine("Connection", "GPS/App")(color="background-color:#5DA283;" font="background-color:#FFFFFF;")
                                    +tableLine("Connection", "Direct")(color="background-color:#5DA283;" font="background-color:#FFFFFF;")
            .content__inside-footer
                .row.align-items-center.mt-5
                    .col-12.col-md-7.col-lg-8
                        .pagination
                            .pagination__on-page Show 
                                input.input.input_small.pagination__input(type="text" value="10")
                                span of 76
                            .page-item
                                a.page-link(href="#") 
                                    svg.pagination__icon(width="8px" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M7.8951 0.601684C7.86194 0.569452 7.82254 0.543879 7.77916 0.52643C7.73578 0.508982 7.68928 0.5 7.64231 0.5C7.59535 0.5 7.54884 0.508982 7.50546 0.52643C7.46209 0.543879 7.42268 0.569452 7.38952 0.601684L3.1049 4.75504C3.07165 4.78719 3.04527 4.82539 3.02727 4.86744C3.00927 4.90949 3 4.95456 3 5.00009C3 5.04562 3.00927 5.09069 3.02727 5.13274C3.04527 5.17479 3.07165 5.21299 3.1049 5.24514L7.38952 9.3985C7.45656 9.46349 7.5475 9.5 7.64231 9.5C7.73713 9.5 7.82806 9.46349 7.8951 9.3985C7.96215 9.33351 7.99981 9.24536 7.99981 9.15345C7.99981 9.06154 7.96215 8.97339 7.8951 8.9084L3.86256 5.00009L7.8951 1.09178C7.92835 1.05963 7.95473 1.02144 7.97273 0.979386C7.99073 0.937337 8 0.892258 8 0.846732C8 0.801206 7.99073 0.756128 7.97273 0.714078C7.95473 0.672029 7.92835 0.633835 7.8951 0.601684Z")
                                        path(d="M0 8.9375V0.891764C0 0.41168 0.7 0.411679 0.7 0.891764V8.9375C0.7 9.49996 0 9.49996 0 8.9375Z")
                            .page-item
                                a.page-link(href="#")
                                    svg.pagination__icon(width="5px" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M4.8951 0.601684C4.86194 0.569452 4.82254 0.543879 4.77916 0.52643C4.73578 0.508982 4.68928 0.5 4.64231 0.5C4.59535 0.5 4.54884 0.508982 4.50546 0.52643C4.46209 0.543879 4.42268 0.569452 4.38952 0.601684L0.1049 4.75504C0.0716499 4.78719 0.0452698 4.82539 0.0272698 4.86744C0.00926984 4.90949 0 4.95456 0 5.00009C0 5.04562 0.00926984 5.09069 0.0272698 5.13274C0.0452698 5.17479 0.0716499 5.21299 0.1049 5.24514L4.38952 9.3985C4.45656 9.46349 4.5475 9.5 4.64231 9.5C4.73713 9.5 4.82806 9.46349 4.8951 9.3985C4.96215 9.33351 4.99981 9.24536 4.99981 9.15345C4.99981 9.06154 4.96215 8.97339 4.8951 8.9084L0.86256 5.00009L4.8951 1.09178C4.92835 1.05963 4.95473 1.02144 4.97273 0.979386C4.99073 0.937337 5 0.892258 5 0.846732C5 0.801206 4.99073 0.756128 4.97273 0.714078C4.95473 0.672029 4.92835 0.633835 4.8951 0.601684Z")
                            .page-item
                                a.page-link(href="#") 1
                            .page-item
                                a.page-link(href="#") 2
                            .page-item.active
                                a.page-link(href="#") 3
                            .page-item.disabled
                                a.page-link(href="#") ...
                            .page-item
                                a.page-link(href="#") 9
                            .page-item
                                a.page-link(href="#") 10
                            .page-item
                                a.page-link(href="#")
                                    svg.pagination__icon(width="5px" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.104897 0.601684C0.138064 0.569452 0.177465 0.543879 0.220844 0.52643C0.264222 0.508982 0.310725 0.5 0.35769 0.5C0.404654 0.5 0.451158 0.508982 0.494536 0.52643C0.537914 0.543879 0.577315 0.569452 0.610483 0.601684L4.8951 4.75504C4.92835 4.78719 4.95473 4.82539 4.97273 4.86744C4.99073 4.90949 5 4.95456 5 5.00009C5 5.04562 4.99073 5.09069 4.97273 5.13274C4.95473 5.17479 4.92835 5.21299 4.8951 5.24514L0.610483 9.3985C0.543438 9.46349 0.452505 9.5 0.35769 9.5C0.262874 9.5 0.171942 9.46349 0.104897 9.3985C0.0378524 9.33351 0.000186941 9.24536 0.000186941 9.15345C0.000186941 9.06154 0.0378524 8.97339 0.104897 8.9084L4.13744 5.00009L0.104897 1.09178C0.0716462 1.05963 0.0452651 1.02144 0.0272651 0.979386C0.00926505 0.937337 0 0.892258 0 0.846732C0 0.801206 0.00926505 0.756128 0.0272651 0.714078C0.0452651 0.672029 0.0716462 0.633835 0.104897 0.601684Z")
                            .page-item
                                a.page-link(href="#")
                                    svg.pagination__icon(width="8" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(fill-rule="evenodd" clip-rule="evenodd" d="M0.104897 0.601684C0.138064 0.569452 0.177465 0.543879 0.220844 0.52643C0.264222 0.508982 0.310725 0.5 0.35769 0.5C0.404654 0.5 0.451158 0.508982 0.494536 0.52643C0.537914 0.543879 0.577315 0.569452 0.610483 0.601684L4.8951 4.75504C4.92835 4.78719 4.95473 4.82539 4.97273 4.86744C4.99073 4.90949 5 4.95456 5 5.00009C5 5.04562 4.99073 5.09069 4.97273 5.13274C4.95473 5.17479 4.92835 5.21299 4.8951 5.24514L0.610483 9.3985C0.543438 9.46349 0.452505 9.5 0.35769 9.5C0.262874 9.5 0.171942 9.46349 0.104897 9.3985C0.0378524 9.33351 0.00018692 9.24536 0.00018692 9.15345C0.00018692 9.06154 0.0378524 8.97339 0.104897 8.9084L4.13744 5.00009L0.104897 1.09178C0.0716462 1.05963 0.0452651 1.02144 0.0272651 0.979386C0.00926502 0.937337 0 0.892258 0 0.846732C0 0.801206 0.00926502 0.756128 0.0272651 0.714078C0.0452651 0.672029 0.0716462 0.633835 0.104897 0.601684Z")
                                        path(d="M8 8.9375V0.891764C8 0.41168 7.3 0.411679 7.3 0.891764V8.9375C7.3 9.49996 8 9.49996 8 8.9375Z")
                    .col-12.col-md-5.col-lg-4.mt-4.mt-md-0
                        a.logs(href="#" data-toggle="modal" data-target="#logsModal")
                            span.logs__heading Show logs
                            span.logs__intro Last Update: 10/04/2022 15:40
        .content__footer 
            p.content__footer-intro Carbogatto LLC © 2022 All Rights Reserved. Version 1.0.0.1
    //- Modal Change
    .modal.fade(id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true")
        .modal-dialog.modal-sm
            .modal-content
                .modal-header
                    p.modal-title(id="editModalLabel") Change properties
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    form.form(action="")
                        .form__group.form__group_first
                            .form__label.form__label_secondary Custom property name
                            input.input.input--full(type="text" placeholder="Enter property name" value="Stolen")
                        .form__group
                            .form__label.form__label_secondary Status name
                            input.input.input--full(type="text" placeholder="Enter status name" value="Active")
                        .form__group
                            .form__label.form__label_secondary Status color
                            input.input.input_color.input--full(type="color" name="color" value="#F25634" placeholder="Activation Status Color")
                        .form__group
                            .form__label.form__label_secondary Status font color
                            input.input.input_color.input--full(type="color" name="color" value="#FFFFFF" placeholder="Activation Font Color")
                    .modal__confirmation.mt-3
                        a.btn.btn-danger.btn--full(href="#") Cancel
                        a.btn.btn-success.btn--full(href="#") Save
    //- Modal Logs
    .modal.fade(id="logsModal" tabindex="-1" aria-labelledby="logsModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    p.modal-title(id="logsModalLabel") Devices Settings Logs
                    svg.modal__close(data-dismiss="modal" aria-label="Close" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M5.19691 5.19691C5.32299 5.07083 5.49399 5 5.6723 5C5.8506 5 6.0216 5.07083 6.14768 5.19691L9 8.04923L11.8523 5.19691C11.9784 5.07083 12.1494 5 12.3277 5C12.506 5 12.677 5.07083 12.8031 5.19691C12.9292 5.32299 13 5.49399 13 5.6723C13 5.8506 12.9292 6.0216 12.8031 6.14768L9.95077 9L12.8031 11.8523C12.9292 11.9784 13 12.1494 13 12.3277C13 12.506 12.9292 12.677 12.8031 12.8031C12.677 12.9292 12.506 13 12.3277 13C12.1494 13 11.9784 12.9292 11.8523 12.8031L9 9.95077L6.14768 12.8031C6.0216 12.9292 5.8506 13 5.6723 13C5.49399 13 5.32299 12.9292 5.19691 12.8031C5.07083 12.677 5 12.506 5 12.3277C5 12.1494 5.07083 11.9784 5.19691 11.8523L8.04923 9L5.19691 6.14768C5.07083 6.0216 5 5.8506 5 5.6723C5 5.49399 5.07083 5.32299 5.19691 5.19691Z")
                .modal-body
                    .table-responsive.mb-2
                        table.table
                            thead.table__head
                                tr.table__line
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Device
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Model
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Description
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable Time
                                    th.table__item.table__item_head 
                                        .table__item-no-sortable User
                            tbody.table__body
                                tr.table__line
                                    td.table__item.table__item_body
                                        a.table__link(href="display.html") Display
                                    td.table__item.table__item_body DT - DIsplay1
                                    td.table__item.table__item_body Add new firmware
                                    td.table__item.table__item_body 2021-06-25 14:50:24
                                    td.table__item.table__item_body 
                                        a.table__link(href="profile.html") Nikolai Kuzmenko
                                tr.table__line
                                    td.table__item.table__item_body
                                        a.table__link(href="display.html") Display
                                    td.table__item.table__item_body DT - DIsplay2
                                    td.table__item.table__item_body Add new model
                                    td.table__item.table__item_body 2022-06-25 01:20:08
                                    td.table__item.table__item_body 
                                        a.table__link(href="profile.html") Nikolai Kuzmenko
    