extends ../blocks/enter.pug

block variables
    - var pageTitle = "Log In"
block content
    main.intro
        .container-fluid
            .row
                .col-12.col-md-6.px-0
                    .intro__image
                .col-12.col-md-6
                    .row.align-items-center.justify-content-center.intro__form.pt-5.pb-5
                        .col-10.col-lg-8.col-xl-6.px-0
                            p.h5.text-uppercase Sign In
                            p.font-secondary.text-bolder Enter your email address and password to access admin panel
                            form.form(action="") 
                                .form__group
                                    .form__label Login / email address:
                                    input.input.input_success.input--full(type="text" placeholder="Enter your email" value="manager@dms.ru")
                                .form__group
                                    a.form__addinional-link.text-small(href="forgot-password.html") Forgot your password?
                                    .form__label Password
                                    input.input.input_error.input--full(type="password" placeholder="Enter your password" value="text")
                                .form__group
                                    a.btn.btn-success.btn--full(href="dashboard.html") Log in
                                .form__additional
                                    p.text-small Don't have an account? 
                                        a.text-bold(href="sign-up.html") Sign Up
block footer