.toggle{
    &__icon{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: $black-40;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: $transition-base;

        &--active{
            // background-color: $black-40;
            transform: rotate(180deg);
        }
    }
    &__title{
        display: flex;
        align-items: center;

        cursor: pointer;

        &-text{
            font-weight: $font-weight-bold;
            font-size: map-get($map: $heading, $key: h6);

            padding: 0 map-get($map: $spacers, $key: 3);
        }
        &-btns{
            .btn{
                margin-right: map-get($map: $spacers, $key: 2);
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    &__content{
        display: none;
        padding: map-get($map: $spacers, $key: 3) 0;
    }
}