.toggle{
    &__title{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        padding: map-get($map: $spacers, $key: 1) 0;
        min-height: 40px;

        cursor: pointer;
        transition: $transition-base;

        &-text{
            font-weight: $font-weight-bolder;
            font-size: map-get($map: $font-size, $key: md);
            
            flex-grow: 1;
            padding-left: map-get($map: $spacers, $key: 2);
        }
        &-btns{
            flex: 0 0 100%;
            padding-top: map-get($map: $spacers, $key: 2);
            // padding-left: 60px;

            .btn{
                // width: 100%;

                margin-right: map-get($map: $spacers, $key: 2);
                margin-top: map-get($map: $spacers, $key: 2);

                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }

        &:hover{
            background-color: rgba($black-60, 0.5);
        }
    }
    &__icon{
        width: 20px;
        height: 20px;
        border-radius: $border-radius;
        border: 1px solid $black-40;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: $transition-base;

        &-plus{
            fill: $white;
            &--hide{
                display: none;
            }
        }
        &-minus{
            fill: $white;
            display: none;
            &--active{
                display: block;
            }
        }
    }

    &__content{
        display: none;
        padding: map-get($map: $spacers, $key: 2) 0;
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .toggle{
        &__title{
            &-btns{
                // flex: unset;
                // padding-top: map-get($map: $spacers, $key: 0);

                .btn{
                    // width: auto;
                    margin-top: 0;
                }
            }
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .toggle{
        &__title{
            &-text{
                // font-size: map-get($map: $heading, $key: h6);
                padding: 0 map-get($map: $spacers, $key: 2);
            }
            &-btns{
                flex: unset;
                padding-top: map-get($map: $spacers, $key: 0);

                // .btn{
                //     width: auto;
                //     margin-top: 0;
                // }
            }
        }
    }
}