html,body {
    font-family: $font-family-base;
    font-size: map-get($font-size, 'md');
    font-weight: $font-weight-base;
    line-height: $line-height-base;

    background-color: $black;
    color: $white;
}

// Main
main{
    // height: 100%;
    overflow: hidden;
    width: 100%;
}


// Weight
.text-bolder{ font-weight: $font-weight-bolder; }
.text-bold{ font-weight: $font-weight-bold; }

// Size
.text-small{ font-size: 0.85rem; }

// Color
.font-secondary{ color: $secondary; }


// @media all and (min-width: map-get($grid-breakpoints, 'sm')){
// }