html,body {
    font-family: $font-family-base;
    font-size: map-get($font-size, 'md');
    font-weight: $font-weight-base;
    line-height: $line-height-base;

    background-color: $black;
    color: $white;
}

// Main
main{
    // height: 100%;
    overflow: hidden;
    width: 100%;
}


// Weight
.text-bolder{ font-weight: $font-weight-bolder; }
.text-bold{ font-weight: $font-weight-bold; }

// Size
.text-small{ font-size: map-get($map: $font-size, $key: xs); }
.text-smaller{ font-size: map-get($map: $font-size, $key: sm); }
.text-normal{ font-size: map-get($map: $font-size, $key: md); }
.text-large{ font-size: map-get($map: $font-size, $key: lg); }

// Color
.font-secondary{ color: $secondary; }

// Background
.bg-black-60{
    background-color: $black-60;
}
.bg-black-80{
    background-color: $black-80;
}
.bg-black-100{
    background-color: $black-100;
}

// Content
p{
    margin-bottom: map-get($map: $spacers, $key: 1);

    &:last-child{
        margin-bottom: map-get($map: $spacers, $key: 0);
    }
}

// @media all and (min-width: map-get($grid-breakpoints, 'sm')){
// }