.content{
    padding: map-get($map: $spacers, $key: 3);
    margin-left: $sidebar-width;

    &__inside{
        padding: map-get($map: $spacers, $key: 3);
        background-color: $black-80;
        border-radius: 6px;
    }
    // Content Header
    &__heading{
        padding-bottom: map-get($map: $spacers, $key: 3);
    }
    // Left Col
    &__heading-left{
        display: flex;
        align-items: center;
    }
    &__heading-action{
        margin-left: map-get($map: $spacers, $key: 3);
    }
    &__title{
        text-transform: uppercase;
        margin-right: map-get($map: $spacers, $key: 3);
        margin-bottom: 0;
    }

    // Right Col
    &__heading-right{
        display: flex;
        align-items: center;

        justify-content: flex-end;
    }
}