.content{
    padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);
    // margin-left: $sidebar-width;
    max-width: calc(100% - 260px);
    transform: translateX(260px);

    transition: $transition-base;

    &--sidebar-open{
        max-width: calc(100% - 72px);
        transform: translateX(72px);
    }

    &__inside{
        padding: map-get($map: $spacers, $key: 3);
        background-color: $black-80;
        border-radius: 6px;
    }
    // Content Header
    &__heading{
        padding-bottom: map-get($map: $spacers, $key: 3);
    }
    // Left Col
    &__heading-left{
        display: flex;
        align-items: center;
    }
    &__heading-action{
        margin-left: map-get($map: $spacers, $key: 3);
    }
    &__title{
        text-transform: uppercase;
        margin-right: map-get($map: $spacers, $key: 3);
        margin-bottom: 0;
    }

    // Right Col
    &__heading-right{
        display: flex;
        align-items: center;

        justify-content: flex-end;
    }

    // Filters
    &__filters{
        padding-bottom: map-get($map: $spacers, $key: 3);
    }

    // Footer
    &__footer{
        text-align: center;
        padding-top: map-get($map: $spacers, $key: 2);

        &-intro{
            color: $secondary;
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}