.content{
    display: flex;
    flex-direction: column;
    min-height: 100%;

    // padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);
    // margin-left: $sidebar-width;
    max-width: calc(100% - 280px);
    transform: translateX(280px);

    transition: $transition-base;

    &--sidebar-small{
        max-width: calc(100% - 72px);
        transform: translateX(72px);
    }

    &__inside{
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);
        background-color: $light-20;
        // border-radius: 6px;
        min-width: 280px;

        &-container{
            flex-grow: 1;
        }
    }
    // Content Header
    &__heading{
        padding-bottom: map-get($map: $spacers, $key: 3);
    }
    // Left Col
    &__heading-left{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: map-get($map: $spacers, $key: 2);
    }
    &__heading-additional-btn{
        margin-top: map-get($map: $spacers, $key: 1);
    }
    // Right Col
    &__heading-right{
        display: flex;
        align-items: center;

        flex-wrap: wrap;
        justify-content: flex-start;
    }
    // &__heading-action{
    //     margin-left: map-get($map: $spacers, $key: 3);
    // }
    &__heading-btn{
        margin-left: map-get($map: $spacers, $key: 2);
    }
    &__heading-logs{
        margin-right: map-get($map: $spacers, $key: 2);
    }
    &__heading-search{
        flex: 0 0 100%;
        margin-bottom: map-get($map: $spacers, $key: 2);
    }

    &__title{
        flex: 0 0 100%;

        text-transform: uppercase;
        margin-right: 0;
        margin-bottom: 0;
        // margin-bottom: map-get($map: $spacers, $key: 1);
    }
    // Filters
    &__filters{
        display: flex;
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;

        padding-bottom: map-get($map: $spacers, $key: 2);

        // &-additional{
        //     margin-top: map-get($map: $spacers, $key: 2);
        // }
        // &_additional{
        //     display: flex;
        //     min-height: 32px;
        //     margin: map-get($map: $spacers, $key: 1) 0;
        // }
    }
    // Sep Line
    &__sep{
        width: calc(100% + 48px);
        height: 1px;
        background-color: $black-100;

        transform: translateX(-24px);
        margin-bottom: map-get($map: $spacers, $key: 3);
    }
    // Tabs
    &__tabs{
        margin-bottom: map-get($map: $spacers, $key: 2);
        
        &-item{
            padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
            border: 1px solid $light-60;
            border-radius: $border-radius;
            color: $light-100;
            // background-color: $black-80;

            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            line-height: $line-height-heading;
            margin-right: map-get($map: $spacers, $key: 2);
            margin-bottom: map-get($map: $spacers, $key: 2);

            transition: $transition-base;

            &:hover{
                text-decoration: none;
                color: $secondary-dark;
                background-color: $light-40;
                border-color: $light-40;
            }

            &--active{
                color: $secondary-dark;
                background-color: $light-60;
                border-color: $light-60;

                &:hover{
                    text-decoration: none;
                    color: $secondary-dark;
                    background-color: $light-60;
                    border-color: $light-60;
                }
            }
            &--parent{
                color: $white;
                background-color: $black-100;
                border-color: $black-100;

                &:hover{
                    text-decoration: none;
                    color: $white;
                    background-color: $black-100;
                    border-color: $black-100;

                    cursor: default;
                }
            }
        }
        &-close{
            margin-left: map-get($map: $spacers, $key: 1);
            
            fill: $secondary;

            transition: $transition-base;
            cursor: pointer;

            &:hover, &:focus{
                fill: $white;
            }
        }
    }
    // Additional information
    &__additional{
        font-size: map-get($map: $font-size, $key: sm);
        color: $secondary;
    }
    // Footer
    &__footer{
        text-align: center;
        padding: map-get($map: $spacers, $key: 2);

        &-intro{
            color: $secondary;
            filter: opacity(0.5);
            font-size: map-get($map: $font-size, $key: sm);
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'sm')){
    .content{        
        &__heading-search{
            flex: unset;
            margin-bottom: 0;
        }
        &__heading-action{
            margin-left: map-get($map: $spacers, $key: 2);
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .content{
        padding: map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 3) map-get($map: $spacers, $key: 2);

        &__inside{
            border-radius: 6px;
            padding: map-get($map: $spacers, $key: 3);
        }
        // Filters
        &__filters{
            flex-wrap: nowrap;
            padding-bottom: map-get($map: $spacers, $key: 2);
        }
        // Tabs
        &__tabs{
            margin-bottom: map-get($map: $spacers, $key: 2);
        }
        // Left Col
        &__heading-additional-btn{
            margin-top: map-get($map: $spacers, $key: 0);
            margin-right: map-get($map: $spacers, $key: 2);
        }
        // Right Col
        &__heading-right{
            flex-wrap: nowrap;
        }
        &__heading-action{
            margin-left: map-get($map: $spacers, $key: 2);
        }

        &__title{
            flex: unset;
            margin-right: map-get($map: $spacers, $key: 3);
        }

        // Footer
        &__footer{
            padding: map-get($map: $spacers, $key: 2) 0 0;
        }
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'lg')){
    .content{
        // Right Col
        &__heading-right{
            // flex-wrap: nowrap;
            justify-content: flex-end;
        }
        // Left Col
        &__heading-left{
            margin-bottom: map-get($map: $spacers, $key: 0);
        }
    }
}