.option{
    padding: map-get($map: $spacers, $key: 1) map-get($map: $spacers, $key: 2);
    border-radius: 16px;
    background-color: $black-60;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    font-size: map-get($map: $font-size, $key: sm);

    margin-right: map-get($map: $spacers, $key: 2);
    margin-bottom: map-get($map: $spacers, $key: 2);

    &__name{
        margin-right: map-get($map: $spacers, $key: 1);
    }
    &__value{
        margin-right: map-get($map: $spacers, $key: 1);
    }
    &__close{
        fill: $white;

        transition: $transition-base;
        cursor: pointer;

        &:hover, &:focus{
            fill: $secondary;
        }
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')){
    .option{
        font-size: map-get($map: $font-size, $key: md);
    }
}